

<template>
<div class="content">
  <div class="wrapper-1">
    <div class="wrapper-2">
        
      <h1>Thank you !</h1>
      <p class="font-medium pt-5">Payment Recieved.  </p>
      <!-- <p>you should receive a confirmation email soon  </p> -->
      <router-link to="/" tag="button">  <button class="go-home">
      go home
      </button></router-link>
    
    </div>
    <div class="footer-like">
      <p>Your transaction was successful
      </p>
    </div>
</div>
</div>

</template>

<script>
import { defineComponent, toRaw} from 'vue'

export default defineComponent({
  components: {
 
  },

  data() {
   
    
    

    return {
      loading: false
    }
  },

  created() {
  },
  computed: {
    currentUser() {
      return toRaw(this.$store.state.auth.user)
    },

  },
  mounted() {
  },
  methods: { }
})
</script>
<style scoped>
*{
  box-sizing:border-box;
 /* outline:1px solid ;*/
}
body{
background: #ffffff;
background: linear-gradient(to bottom, #ffffff 0%,#e1e8ed 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e8ed',GradientType=0 );
    height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
  
}

.wrapper-1{
  width:100%;
  height:100vh;
  display: flex;
flex-direction: column;
}
.wrapper-2{
  padding :30px;
  text-align:center;
}
h1{
    font-family: 'Kaushan Script', cursive;
  font-size:4em;
  letter-spacing:3px;
  color:#FF782E ;
  margin:0;
  margin-bottom:20px;
}
.wrapper-2 p{
  margin:0;
  font-size:1.3em;
  color:#aaa;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;
}
.go-home{
  color:#fff;
  background:#FF782E;
  border:none;
  padding:10px 50px;
  margin:30px 0;
  border-radius:30px;
  text-transform:capitalize;
  box-shadow: 0 10px 16px 1px rgba(174, 199, 251, 1);
}
.footer-like{
  margin-top: auto; 
  background:#ffefd5;
  padding:6px;
  text-align:center;
}
.footer-like p{
  margin:0;
  padding:4px;
  color:#FF782E;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing:1px;
}
.footer-like p a{
  text-decoration:none;
  color:#FF782E;
  font-weight:600;
}

@media (min-width:360px){
  h1{
    font-size:4.5em;
  }
  .go-home{
    margin-bottom:20px;
  }
}

@media (min-width:600px){
  .content{
  max-width:1000px;
  margin:0 auto;
}
  .wrapper-1{
  height: initial;
  max-width:620px;
  margin:0 auto;
  margin-top:50px;
  box-shadow: 4px 8px 40px 8px rgba(88, 146, 255, 0.2);
}
  
}
</style>

