<template>
  <div class="p-2 m-h-full intro-y box">
    <div class="p-4 rounded-sm" v-for="(q, index) in questions" :key="q.id">
      <div class="justify-between h-full">
        <div class="p-3">
          <div>
            <div>
              <!-- level1 -->
              <span class="font-medium">
                {{ index + 1 }}.0 &nbsp;
                <label :for="`${Date.now()}${index}`">{{ q.question }}</label>
              </span>
              <div v-if="q.type === 'closed'" class="p-1">
                <div class="flex items-center mt-2">
                
                  <input
                  class="transition-all duration-100 ease-in-out shadow-sm border-slate-200 focus:!border-theme-1 cursor-pointer"
                    type="radio"
                    :name="q.id"
                    :id="`${q.id}false`"
                    v-model="q.answer"
                    :value="false"
                    checked
                  />
                  <label class="cursor-pointer ml-2" for="levelonefalse" selected>No</label>
                </div>
                <div class="flex items-center mt-2">
             
                  <input
                  class="transition-all duration-100 ease-in-out shadow-sm border-slate-200 focus:!border-theme-1 cursor-pointer"
                    type="radio"
                    :name="q.id"
                    :id="`${q.id}true`"
                    v-model="q.answer"
                    :value="true"
                  />
                  <label class="cursor-pointer ml-2" for="levelonetrue">Yes</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div v-if="q.sub_questions && q.answer" class="p-1 ml-2">
          <div v-for="sub_question in q.sub_questions" :key="sub_question.id">
            <!-- leveltwo -->
            <!-- <div v-for="sub_question1 in JSON.parse(sub_question.question)" :key="sub_question1.id"> -->
              sub_question.id: {{ sub_question.id }}
            <div
              v-for="sub_question1  in JSON.parse(sub_question.question)"
              :key="sub_question1.id"
            >
            sub_sub_question.id: {{ sub_question1.id }}
              <label
                class="font-sans font-medium text-gray-800 dark:text-white p-1"
                :for="`${Date.now()}${index}`"
              >{{ index + 1 }}.1 &nbsp; {{ sub_question1.question }}</label>
              <br />

              <div v-if="sub_question1.type === 'closed'" class="p-1">
                <div class="flex items-center mt-2">
               {{ `${sub_question1.id}leveltwofalse` }}
                  <input
                    class="transition-all duration-100 ease-in-out shadow-sm border-slate-200 focus:!border-theme-1 cursor-pointer"
                    type="radio"
                    name="sub_question1.id"
                    :id="`${sub_question1.id}leveltwofalse`"
                    v-model="sub_question1.answer"
                    value="false"
                    checked
                  />
                  <label class="cursor-pointer ml-2" :for="sub_question1.id" selected>No</label>
                </div>

                <div class="flex items-center mt-2">
             {{ `${sub_question1.id}leveltwotrue` }}
                  <input
                    class="transition-all duration-100 ease-in-out shadow-sm border-slate-200 focus:!border-theme-1 cursor-pointer"
                    type="radio"
                    name="sub_question1.id"
                    :id="`${sub_question1.id}leveltwotrue`"
                    v-model="sub_question1.answer"
                    value="true"
                  />

                  <label class="cursor-pointer ml-2" :for="sub_question1.id">Yes</label>
                </div>
              </div>

              <div v-else class="p-1">
                <div class="flex items-center mt-2 focus:border-theme-36">
                  <input
                    id="input-wizard-1"
                    type="text"
                    class="intro-x login__input form-control py-3 px-4 block mt-4 border-gray-200 focus:border-theme-36 focus:ring-0"
                    placeholder="Enter answer"
                    name="city"
                    v-model="sub_question.answer"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="answer-success-notification-content" class="toastify-content hidden flex">
      <CheckCircleIcon class="text-theme-9" />
      <div class="ml-4 mr-4">
        <div class="font-medium">Form submitted successfully</div>
      </div>
    </div>

    <div id="answer-failed-notification-content" class="toastify-content hidden flex">
      <XCircleIcon class="text-theme-6" />
      <div class="ml-4 mr-4">
        <div class="font-medium">Form not submitted</div>
        <div class="text-gray-600 mt-1">{{ errorMessage }}</div>
      </div>
    </div>

    <div
      class="container mx-auto justify-center mt-4"
      style="display: flex; align-items: center; text-align: center;"
    ></div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      <Button
        type="submit"
        class="btn bg-theme-32 w-40 mr-auto text-white"
        @click="submitAnswers"
        :label="`${$t('translation.save_text')}`"
      >
        <LoadingIcon v-if="loading" icon="spinning-circles" color="white" class="w-4 h-4 ml-2" />
        <p data-dismiss="modal" class="text-white" v-else>Save</p>
      </Button>
    </div>
  </div>
</template>

<script >
import { defineComponent, inject, ref } from 'vue'
import Button from '@/components/shared/buttons/Button.vue'
import Toastify from 'toastify-js'
import QuestionService from '../../../service/questions-service'
import router from '../../../router'
export default defineComponent({
  components: {
    Button
  },
  props: {
    appointment: Object
  },
  created() {
    this.fetchAll()
  },
  methods: {
    async fetchAll() {
      try {
        QuestionService.fetchQuestions()
          .then(response => {
            this.isLoading = false
            if (response?.success === 'SUCCESS') {
              console.log('questions response', response?.data)
              console.log('status is success new')
              const payload = response?.data
              // this.questions.push(...payload)
              // console.log('status is success', this.questions)
              // return { success: true, message: `${message}`, payload: payload }
            }
            // throw new Error(error ?? payload)
          })
          .catch(function(thrown) {
            console.log('Request cancelling error', thrown)

            if (thrown.message === 'canceled') {
              console.log('Request canceled vvvvv', thrown.message)
            } else {
              // handle error
            }
          })
      } catch (err) {
        return { success: false, message: `${err.message}` }
      }
    },
    async submitAnswers() {
      const answers = this.questions.map(q => ({
        question_id: q.id,
        answer: q.answer,
        sub_question_id: q.sub_questions[0]?.id,
        sub_question_answer: q.sub_questions[0]?.answer
      }))
      // const ref = await MedicalQuestionsService.submitAnswers({
      //   answers: answers,
      //   patientId: 45,
      //   appointmentId: 30
      // })
      try {
        console.log('submitting')
        // console.log('The id is answer appointment: ' + this.$route.params.appointmentId);
        let data = {
          answers: answers,
          patient_id: this.$route.params?.patientId,
          appointment_id: this.$route.params?.appointmentId
        }
        QuestionService.answerQuestions(data)
          .then(response => {
            this.isLoading = false

            console.log('answer question response', response)
            if (response?.status === true) {
              Toastify({
                node: cash('#answer-success-notification-content')
                  .clone()
                  .removeClass('hidden')[0],
                duration: 3000,
                newWindow: true,
                close: true,
                gravity: 'top',
                position: 'right',
                stopOnFocus: true
              }).showToast()

              router.push({
                name: 'side-menu-view-appointments'
              })
            } else {
              this.errorMessage = response?.message
              Toastify({
                node: cash('#answer-failed-notification-content')
                  .clone()
                  .removeClass('hidden')[0],
                duration: 3000,
                newWindow: true,
                close: true,
                gravity: 'top',
                position: 'right',
                stopOnFocus: true
              }).showToast()
            }
            // throw new Error(error ?? payload)
          })
          .catch(function(thrown) {
            console.log('Request cancelling error', thrown)

            if (thrown.message === 'canceled') {
              console.log('Request canceled vvvvv', thrown.message)
            } else {
              // handle error
            }
          })

        if (response?.data?.status === 'true') {
          console.log('response?.data?.status === ', response?.data?.status)
          this.$route.push({
            name: 'side-menu-view-appointments'
          })
          return { success: true, message: `${message}` }
        }
        throw new Error(error)
      } catch (err) {
        return { success: false, message: `${err.message}` }
      }
    }
  },
  watch: {
    errorMessage(newerrorMessage, olderrorMessage) {
      this.errorMessage = newerrorMessage
    }
  },
  setup() {
  
    const questions = ref([
      {
        id: 5,
        question: 'Heeft u zonder inspanning aanvallen van hartkloppingen?',
        type: 'closed',
        enabled: 1,
        created_by: null,
        created_at: '2023-03-25T11:47:36.000000Z',
        updated_at: '2023-03-25T11:47:36.000000Z',
        sub_questions: [
          {
            id: 5,
            question:
              '[{"question":"Moet u tijdens deze aanvallen rusten zitten of liggen?","questions":[{"id":1,"question":" Wordt u bleek, duizelig of kortademig tijdens deze aanvallen?","questions":[],"type":"closed"}],"type":"closed","id":null}]',
            type: 'closed',
            created_by: null,
            medical_question_id: 5
          }
        ]
      },
      {
        id: 4,
        question: 'Heeft u een hartinfarct gehad?',
        type: 'closed',
        enabled: 1,
        created_by: null,
        created_at: '2023-03-25T11:31:46.000000Z',
        updated_at: '2023-03-25T11:31:46.000000Z',
        sub_questions: [
          {
            id: 4,
            question:
              '[{"question":"Hebben zich daarna complicaties voorgedaan?", "questions":[{"id":1,"question":"Welke complicaties?","questions":[],"type":"open"}],"type":"closed","id":1},{"question":"Ondervindt u nog steeds klachten?","questions":[],"type":"closed","id":2},{"question":"Heeft u in de laatste 6 maanden een hartinfarct gehad?","questions":[],"type":"closed","id":3}]',
            type: 'closed',
            created_by: null,
            medical_question_id: 4
          }
        ]
      },
      {
        id: 3,
        question:
          'Heeft u pijn of een beknellend gevoel op de borst bij inspanning (angina pectoris)?',
        type: 'closed',
        enabled: 1,
        created_by: null,
        created_at: '2023-03-25T11:28:09.000000Z',
        updated_at: '2023-03-25T11:28:09.000000Z',
        sub_questions: [
          {
            id: 3,
            question:
              '[{"question":"Heeft u uw activiteiten moeten verminderen?","questions":[],"type":"closed","id":null},{"question":"Nemen de klachten de laatste tijd toe?","questions":[],"type":"closed","id":1},{"question":"Heeft u ook klachten in rust? ","questions":[],"type":"closed","id":2},{"question":"Heeft u ondanks bypass-operatie, Dotter-procedure of lasertherapie weer angina-pectoris gekregen?","questions":[],"type":"closed","id":3}]',
            type: 'closed',
            created_by: null,
            medical_question_id: 3
          }
        ]
      }
    ])
    const levelonetrue = ref()
    const levelonefalse = ref()
    const leveltwofalse = ref()
    const leveltwotrue = ref()
    const errorMessage = ref(null)

    const images = ref([{ imgId: 1 }, { imgId: 2 }, { imgId: 3 }])
    const profileImg = ref(2)

    return {
      questions,
     
      errorMessage,
      levelonetrue,
      levelonefalse,
      leveltwofalse,
      leveltwotrue,
      images,
      profileImg
      // submitAnswers,
    }
  }
})
</script>
<style scoped>
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ff782e;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
</style>
