<template>
 <button class="flex items-center justify-center">
    <svg id="Teeth_icon" data-name="Teeth icon" xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" viewBox="0 0 42.782 34.424">
        <g id="Group_3743" data-name="Group 3743" transform="translate(-2018 -1980.835)">
            <path id="Path_79" data-name="Path 79" d="M-4.673,0C-2.158,0,.388,6.268.388,10.155s-2.546,3.714-5.061,3.714-5.619.173-5.619-3.714S-7.188,0-4.673,0Z" transform="translate(2038.807 1991.835)" fill="#FF782E"/>
            <path id="Path_80" data-name="Path 80" d="M-5.231,0c-2.515,0-5.061,6.268-5.061,10.155s2.546,3.606,5.061,3.606,5.619.281,5.619-3.606S-2.716,0-5.231,0Z" transform="translate(2049.881 1991.835)" fill="#FF782E"/>
            <path id="Path_81" data-name="Path 81" d="M-6.445,0c-1.912,0-3.848,4.471-3.848,7.244s1.936,2.562,3.848,2.562,4.272.211,4.272-2.562S-4.532,0-6.445,0Z" transform="translate(2060.955 1994.841)" fill="#FF782E"/>
            <path id="Path_82" data-name="Path 82" d="M-6.02,0c1.912,0,3.848,4.471,3.848,7.244s-1.936,2.779-3.848,2.779-4.272-.007-4.272-2.779S-7.932,0-6.02,0Z" transform="translate(2030.293 1994.841)" fill="#FF782E"/>
        </g>
    </svg>
</button>
</template>

<script>
export default {

};
</script>

<style>

</style>
