<template>
<div class="col-12 box inset-0 flex flex-col p-4 text-gray-900  top-6 dark:text-white">
  <!-- <div class="col-12 box inset-0 flex flex-col p-4 text-gray-900 bg-gray-100 dark:bg-gray-900 dark:text-white top-6"> -->
    <div class="flex justify-between mb-4">
          <router-link
                    class="whitespace-nowrap"
                    :to="{
                      name: 'side-menu-communication'
                    }"
                  >
      
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg><!-- icon back -->
      </router-link>
      <div class="flex justify-between">
        <a href="#" class="flex items-center justify-center w-8">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
          </svg><!-- icon bin -->
        </a>
        <a href="#" class="flex items-center justify-center w-8">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
          </svg><!-- icon mail -->
        </a>
        <StarIcon />
        <a href="#" class="flex items-center justify-center w-8">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
          </svg><!-- icon dots -->
        </a>
      </div>
    </div> <!-- email header -->
    <div class="flex items-center text-lg intro-y box p-5 mt-5">
      <div class="flex flex-wrap items-center" v-if="viewMgs">
        {{ viewMgs.subject }}
      </div>
      <div>
        <!-- <FavoriteStar :is_favorite="email.is_favorite" /> -->
      </div>

    </div>





  <div class="intro-y box p-5 mt-5" v-if="loading">
   
      <!-- loader text -->
      <span
        
        class="flex flex-col w-full col-span-12 sm:w-auto items-center mt-10"
      >
        <LoadingIcon icon="oval" class="w-10 h-10" />
        <span> {{ $t('translation.we_are_loading_your_details') }}...</span>
      </span></div>
      <div v-if="!loading" class="mt-5">
      <div class="flex" v-if="viewMgs">
        <Avatars v-bind:initials="viewMgs.from_fname + viewMgs.from_lname"  class="rounded-full"/>
         <div class="leading-none text-gray-800 col-span-4 space-y-1 dark:text-gray-200 pl-5">
        <div v-if="viewMgs">
          {{viewMgs.from_fname}}&nbsp;{{viewMgs.from_lname}}
          <span class="ml-2 text-gray-500 text-xxs dark:text-gray-400" v-if="viewMgs"> 
            {{ moment(viewMgs.created_at ).fromNow()}}
            </span>
        </div>
        <div class="flex text-gray-500">
          <div>
            to me
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </div>
      </div> 
        <!-- <img class="rounded-full w-9" :src="email.src" alt=""> -->
      </div> <!-- image -->
     

      <!-- label -->
    </div><!-- email in list -->

    <div class="flex flex-col justify-between flex-1  overflow-auto ml-10 pl-3">
      <div>
        <!-- <p>Hello,</p> -->
        <!-- <p v-if="viewMgs" class="mt-3" v-html="viewMgs.message"></p> -->
        <p v-if="viewMgs" class="mt-3 mb-3 dark:text-white" >{{viewMgs.message}}</p>
          <hr>
                        <div class="read-content-attachment" v-if="viewMgs" >
                            <div class="container mx-auto justify-center mt-4" style="display: flex;
     align-items: center; text-align: center; text-gray-600">
                    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-4 gap-6">

                            <!-- <h6 v-if="viewMgs.emailattachments" ><i class="fa fa-download mb-2"></i> Attachments
                                <span>(3)</span>
                                </h6> -->
                            <div class="row attachment" v-for="doc_attachment in viewMgs.emailattachments" :key="doc_attachment">
                                <!-- <div class="col-auto">
                                  
                                    <a href="" class="text-muted">documents</a>
                                </div> -->
                                <div class="text-gray-600">
                                  
              <!-- <div class="left-0 top-0 mt-3 ml-3"> -->
                  <!-- <input class="form-check-input border border-slate-500" type="checkbox" /> -->
                  <!-- <DownloadIcon />
                </div> -->
                
                <!-- <div class="text-gray-600 flex mt-3 truncate w-12" @click="SaveAs(doc_attachment.docs)"><a href="#"><DownloadIcon class="w-4 h-4"/>
                <span class="w-6 ">{{doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('/')+1) }}</span></a></div> -->
                
     <div class="intro-x flex items-center h-10 hover:text-theme-36 hover:underline" @click="SaveAs(doc_attachment.docs)">
                    <h2 class="font-medium truncate mr-5">{{doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('/')+1) }}</h2>

                    <a
                      href="javascript:;"
                      data-toggle="modal"
                      data-target="#static-backdrop-modal-preview"
                      
                    >
                      <DownloadIcon class="w-4 h-4"/>
                    </a>
                  </div>
                  <!-- <p>{{doc_attachment.docs.split('.').pop()}}</p> -->



<img
                alt=""
                :src="
            (doc_attachment.docs.split('.').pop()) === 'png'
              ? doc_attachment.docs
              : (doc_attachment.docs.split('.').pop()) === 'jpeg'
              ? doc_attachment.docs
              : (doc_attachment.docs.split('.').pop()) === 'jpg'
              ? doc_attachment.docs
              : (doc_attachment.docs.split('.').pop()) === 'pdf'
              ? pdflogo
              : (doc_attachment.docs.split('.').pop()) === 'txt'
              ? textlogo
              : (doc_attachment.docs.split('.').pop()) === 'xls'
              ? excellogo
              : (doc_attachment.docs.split('.').pop()) === 'xlsx'
              ? excellogo
              : (doc_attachment.docs.split('.').pop()) === 'docx'
              ? doclogo
               : doc_attachment.docs.substring(doc_attachment.docs.split('.').pop()) === 'doc'
              ? doclogo
              : 'https://via.placeholder.com/150'
          "

                
                class="rounded-md border border-white max-h-24"
                data-action="zoom"
                @click="SaveAs(doc_attachment.docs)"
                
              />



 
            </div>

       </div>  </div>
    

                            </div>
                        </div>
                        <hr v-if="doc_attachment">
        <!-- <p class="mt-4">Regards,</p>
        <p v-if="viewMgs">Metadent</p> -->
      </div>



<div class="col-12 flex flex-col p-4 text-gray-900 top-6" v-if="viewMgs">
 
        <div class="row attachment" v-for="reply in viewMgs.all_replies" :key="reply">
          <!-- {{reply.subject}} -->

          <div class="mt-6">
            <div class="flex" v-if="viewMgs">
              <!-- <Avatars v-bind:initials="viewMgs.from_fname + viewMgs.from_lname" /> -->
              <Avatars v-bind:initials="reply.from_fname + reply.from_lname" class="rounded-full" />
              <div class="leading-none text-gray-800 col-span-4 space-y-1 dark:text-gray-200 pl-5">
                <div v-if="viewMgs">
                 <span v-if="reply.from_user_id === myId"> Me</span>
                 <span v-else> {{reply.from_fname}} {{reply.from_lname}} </span>
                 <!--  {{reply.from_user_id}} {{ myId}} -->
                  <span
                    class="ml-2 text-gray-500 text-xxs dark:text-gray-400"
                    v-if="viewMgs"
                  >{{ moment(reply.created_at ).fromNow()}}</span>
                </div>
                <div class="flex text-gray-500">
                  <div v-if="reply.from_user_id === myId">to {{reply.to_user}}</div>
                   <div v-else>to me</div>
                   
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-3"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                </div>
              
              </div>
              
              <!-- <img class="rounded-full w-9" :src="email.src" alt=""> -->
            </div>
                <div class="flex flex-col justify-between flex-1 overflow-auto ml-10 pl-3">
            <div>
              <!-- <p>Hello,</p> -->
              <!-- <p v-if="viewMgs" class="mt-3" v-html="viewMgs.message"></p> -->
              <p v-if="viewMgs" class="mt-1 mb-3 dark:text-white">{{reply.replyMessage}}</p>
            </div>
          </div>
            <!-- image -->

            <!-- label -->
          </div>

          <!-- <div class="flex flex-col justify-between flex-1 overflow-auto pl-5">
            <div>
              <p>Hello,</p> -->
              <!-- <p v-if="viewMgs" class="mt-3" v-html="viewMgs.message"></p> -->
              <!-- <p v-if="viewMgs" class="mt-1 mb-3 dark:text-white">{{reply.replyMessage}}</p>
            </div>
          </div> --> 
        </div>
      </div>













      <div class="flex px-1 pt-4 pb-2 space-x-2 	lg:pl-24 lg:pr-24"  v-if="viewMgs">
        <a href="#replyform" v-on:click="seen = !seen" class="flex items-center justify-center flex-1 p-2 border border-gray-300 rounded-full dark:border-gray-500 transition-all ring-gray-50 focus:border-theme-36">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
          </svg>
          Reply
        </a>
        <a href="#replyform" v-on:click="seen = !seen" class="flex items-center justify-center flex-1 p-2 border border-gray-300 rounded-full dark:border-gray-500 transition-all ring-gray-50 focus:border-theme-36	">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 mr-2 scale-x-flip" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6" />
          </svg>
          Forward
        </a>
      </div>
        </div>
<div class="col-12 inset-0 flex flex-col mb-10 text-gray-900  top-6" 	  v-if="viewMgs" id="replyform">
      <form  @submit.prevent="reply" v-if="seen">
                        <div class="mb-3 pt-3">
                            <textarea name="reply_email" v-model="reply_email" cols="30" rows="2" class="form-control" placeholder="message" ></textarea>
                        </div>
                        <div class="">
                        <!-- <button type="submit" class="btn btn-primary ">Send</button> -->

                        <button
                        type="submit"
                        class="btn bg-theme-32 w-40 mr-auto text-white"
                      >
                        <LoadingIcon
                          v-if="loadingbutton"
                          icon="spinning-circles"
                          color="white"
                          class="w-4 h-4 ml-2"
                        />
                        <span v-else>Send</span>
                      </button>
                    </div>
                        </form>
                        
                         <!-- BEGIN: Success Notification Content -->
                      <div id="success-notification-content-reply" class="toastify-content hidden flex">
                        <CheckCircleIcon class="text-theme-9" />
                        <div class="ml-4 mr-4">
                          <div class="font-medium">Reply has been Successfully sent</div>
                        </div>
                    
    </div>
 </div>
   
  </div> <!-- Closed email -->
</template>

<script>
// eslint-disable-next-line no-unused-vars
import moment from 'moment';
// eslint-disable-next-line import/no-cycle
import axios from "axios";
// eslint-disable-next-line no-unused-vars
import avatar from '../../assets/images/placeholder.jpg';
import router from '../../router'
import Avatars from '@/components/avatar/Avatar.vue';
import Toastify from "toastify-js";

export default {
  name: 'readMgs',
   props: ['emailId: { type: Object }, messageId: { type: Object }'],
   components: { Avatars},
  data() {
    return {
      reply_email: '',
      myId :'',
      avatar,
      viewMgs: null,
      loading: false,
      loadingbutton: false,
     
      seen: false,
      pdflogo: require("@/assets/images/pdfthumbnail.png"),
      textlogo: require("@/assets/images/textthumbnail.png"),
      excellogo: require("@/assets/images/excelthumbnail.png"),
      doclogo: require("@/assets/images/docthumbnail.png"),
       
       
    };
  },
  methods: {
    moment,
   
    status(id) {
       const token = localStorage.getItem('token')
      // console.log('dropdown', id);
      const mgs_Id = this.$route.params.id;
            axios
       .post('/v2/mail/status', { statusId: id, messageId: mgs_Id },
        { headers: {
          Authorization: 'Bearer ' + token,
          'Content-Type': 'multipart/form-data',
        } })
      // customAxios.post('/v2/mail/status', { statusId: id, messageId: mgs_Id })
      .then((response) => {
        console.log(response.data.payload);
      }).catch(((error) => console.log(error)));
    },
    getMails() {
      this.loading = true
      const token = localStorage.getItem('token')
      const data = {
        messageId: this.$route.params.messageId,
        notify_Id: this.$route.params.emailId  
      }
      axios.post('v2/mails/view', data, {
          headers: {
            Authorization: 'Bearer ' + token,

            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then((res) => {
          console.log('expired session response', res)
          this.loading = false
          this.viewMgs = res.data.payload 
      console.log('opened email', this.viewMgs)
          if (res.data.status === '401') {
            console.log('expired session')
            this.$store.dispatch('auth/logout')
            router.push('/login')
            // window.location.href = '/'
            // localStorage.removeItem('user')
            // this.$router.push('/login')
          }
        })
        // .catch(
        //   (err)=> console.log('expired session error', err.response.status)
          
        //  )
           .catch(function (err) {
           console.log('expired session error new', err.response.status)
           const errorCode = err.response.status
            if (errorCode === 401) {
        console.log('expired session')
         localStorage.removeItem('user')
        localStorage.removeItem('token')
        router.go('/login')
    } else {
      // Handle else
    }
         })
    },
    SaveAs(url){
      console.log('url passed', url)
      // document.getElementById('my_iframe').src = url
      const link = document.createElement('a')
        link.href = url
      link.target="_blank"
    link.click()
    },
    
    reply() {
      this.loadingbutton = true
       const token = localStorage.getItem('token') 
      const category = 'private_care';
      const mgs_id = this.$route.params.messageId;
      const subj = this.viewMgs.subject;
      const body_email = this.reply_email;
      // const fname = this.viewMgs.first_name;
      // const lname = this.viewMgs.last_name;
      const to_user = this.viewMgs.from_email;
      // console.log('repy MESSAGE >>>', body_email);
      // console.log('message id >>' + mgs_id + 'subject >>' + subj);
      axios
     .post('/v2/mails/reply',  {
        under_category: category,
        message_id: mgs_id,
        subject: subj,
        reply_user: to_user,
        replyMessage: body_email },
        {   headers: {
            Authorization: 'Bearer ' + token,

            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
          } })
      // customAxios.post('/v2/mail/reply', {
      //   under_category: category,
      //   message_id: mgs_id,
      //   subject: subj,
      //   reply_user: to_user,
      //   replyMessage: body_email })
        .then((response) => {
        console.log(response.data.payload);
        if (response.data.status === 'SUCCESS') {
              Toastify({
                    node: cash("#success-notification-content-reply")
                      .clone()
                      .removeClass("hidden")[0],
                    duration: 3000,
                    newWindow: true,
                    close: true,
                    gravity: "top",
                    position: "right",
                    stopOnFocus: true,
                  }).showToast();
                  this.getMails()
                  this.reply_email = ""
                  this.loadingbutton = true
                  
          // router.push('/dashboard/sent-email');
        }
      }).catch((error) => {
        console.log(error);
         console.log("about to roeply error", error);
      });
    },
  },
  created() {
     this.getMails()
     this.myId = localStorage.getItem('userID')
    
  },

};
</script>
<style scoped>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
