<template>
        <div class="mx-2 ml-5 ml-sm-4 ml-sm-0  w-10/12 float-right">
            <div class="col-12">
                <div class="ml-3">
                    <div class="toolbar mb-4" role="toolbar" style = "display:none;">
                        <div class="btn-group mb-1">
                            <button type="button" class="btn btn-primary light px-3"><i class="fa fa-archive"></i></button>
                            <button type="button" class="btn btn-primary light px-3"><i class="fa fa-exclamation-circle"></i></button>
                            <!-- <button type="button" class="btn btn-primary light px-3"><i class="fa fa-trash"></i></button> -->
                        </div>
                        <div class="btn-group mb-1">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary light dropdown-toggle">
                                <i class="fa fa-folder"></i> <b class="caret m-l-5"></b>
                                    </button>
                                <div class="dropdown-content">
                                        <a class="dropdown-item" href="#" @click="status(1)">Private</a>
                                        <a class="dropdown-item" href="#" @click="status(2)">Support</a>
                                        <a class="dropdown-item" href="#" @click="status(3)">Social</a>
                                        <a class="dropdown-item" href="#" @click="status(4)">Work</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="read-content">
                        <div class="media pt-3 d-sm-flex d-block justify-content-between">
                            <div class="clearfix mb-3 d-flex">
                                <!-- <img class="me-3" width="70" height="70" alt="image" :src="avatar"> -->
                                
                                <div class="media-body me-2" v-if="viewMgs !==null">


<div class="w-72 flex-none flex items-center mr-5">
<div class="w-6 h-6 image-fit relative  ">
                      
                      <Avatars v-bind:initials="viewMgs.from_fname + viewMgs.from_lname" class="rounded-full"/>
                      
                    </div>
                    <!-- {{clientemail.notifications[0]data[0]['from_details.first_name']}} -->
                    <div class="inbox__item--sender truncate ml-3 "><h5 class="text-primary mb-0 mt-1 font-bold">{{viewMgs.from_fname}}&nbsp;{{viewMgs.from_lname}}</h5>
                    </div>
                    
                    </div>
                    <div class="inbox__item--sender truncate ml-6 "><h5 >&lt;{{viewMgs.from_email}}></h5></div>



                                  <!-- <div >
                                 <Avatars v-bind:initials="viewMgs.from_fname + viewMgs.from_lname" class="rounded-full"/></div> -->
                                    <!-- <h5 class="text-primary mb-0 mt-1">{{viewMgs.from_fname}}&nbsp;{{viewMgs.from_lname}}</h5> -->
                                    <!--{{viewMgs}}-->
                                    <!-- <h5 class="mb-0 mt-1">{{viewMgs.from_email}}</h5>
                                    <p class="mb-0">{{ moment(viewMgs.created_at).format('LLLL') }}</p> -->
                                </div>
                            </div>
                            <div class="clearfix mb-3">
                                <!-- <a href="javascript:void()" class="btn btn-primary px-3 my-1 light me-2"><i class="fa fa-reply"></i> </a> -->
                                <!-- <a href="#" class="btn btn-primary px-3 my-1 light me-2"><i class="fa fa-arrow-right"></i> </a>
                                <a href="#" class="btn btn-primary px-3 my-1 light me-2"><i class="fa fa-trash"></i></a> -->
                            </div>
                        </div>
                        <hr>
                        <div class="media mb-2 mt-4">
                            <div class="media-body">
                              <span class="pull-end">{{ viewMgs != null? moment(viewMgs.created_at).format('LLLL'):'' }}</span>
                                <h5 class="my-1 text-primary" v-if = "viewMgs">{{ viewMgs != null? viewMgs.subject : ''}}</h5>
                                <p class="read-content-email" v-if = "viewMgs">
                                    To: {{JSON.parse(viewMgs.to_user).email}}</p>
                            </div>
                        </div>
                        <div class="read-content-body overflow-auto h-52" v-if="viewMgs !==null">
                            <h5 class="mb-4">Hi,{{JSON.parse(viewMgs.to_user).first_name}} {{JSON.parse(viewMgs.to_user).last_name}}</h5>
                            <p class="mb-2"><strong>{{JSON.parse(viewMgs.to_user).first_name}},</strong>
                            {{viewMgs.message}}</p>
                            <h5 class="pt-3">Kind Regards</h5>
                            <p v-if = "viewMgs"> {{viewMgs.from_fname}}&nbsp;{{viewMgs.from_lname}}</p>
                        </div>
                        <hr>
                        <!-- <div class="read-content-attachment" >
                            <h6><i class="fa fa-download mb-2"></i> Attachments
                                <span>(3)</span></h6>
                            <div class="row attachment" v-for="doc_attachment in viewMgs.emailattachments" :key="doc_attachment">
                                <div class="col-auto">
                                  {{doc_attachment.docs}}
                                    <a href="" class="text-muted">documents</a>
                                </div>
                            </div>
                        </div> -->
                        <hr>
                        <form  @submit.prevent="reply">
                        <div class="mb-3 pt-3">
                            <textarea name="reply_email" v-model="reply_email" cols="30" rows="2" class="form-control" placeholder="message"></textarea>
                        </div>
                        <div class="text-end">
                        <button type="submit" class="btn btn-primary ">Send</button>
                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
// eslint-disable-next-line no-unused-vars
import moment from 'moment';
// eslint-disable-next-line import/no-cycle
import axios from "axios";
// eslint-disable-next-line no-unused-vars
import avatar from '../../assets/images/placeholder.jpg';
import Avatars from '@/components/avatar/Avatar.vue';

export default {
  name: 'readMgs',
   props: ['emailId: { type: Object }, messageId: { type: Object }'],
   components: { Avatars},
  data() {
    return {
      reply_email: '',
      avatar,
      viewMgs: null,
    };
  },
  methods: {
    moment,
    status(id) {
       const token = localStorage.getItem('token')
      // console.log('dropdown', id);
      const mgs_Id = this.$route.params.id;
            axios
       .post('/v2/mail/status', { statusId: id, messageId: mgs_Id },
        { headers: {
          Authorization: 'Bearer ' + token,
          'Content-Type': 'multipart/form-data',
        } })
      // customAxios.post('/v2/mail/status', { statusId: id, messageId: mgs_Id })
      .then((response) => {
        console.log(response.data.payload);
      }).catch(((error) => console.log(error)));
    },
    getMails() {
      this.loading = true
      const token = localStorage.getItem('token')
      const data = {
        messageId: this.$route.params.messageId,
        notify_Id: this.$route.params.emailId  
      }
      axios.post('v2/mails/view', data, {
          headers: {
            Authorization: 'Bearer ' + token,

            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then((res) => {
          this.loading = false
          this.viewMgs = res.data.payload 
console.log('opened email', viewMgs)
          if (res.data.status === '401') {
            console.log('expired session')
            this.$store.dispatch('auth/logout')
            this.$router.push('/login')
            // window.location.href = '/'
            // localStorage.removeItem('user')
            // this.$router.push('/login')
          }
        })
        .catch((err) => console.log(err))
    },
    reply() {
       const token = localStorage.getItem('token')
      const category = 'private_care';
      const mgs_id = this.$route.params.id;
      const subj = this.viewMgs.subject;
      const body_email = this.reply_email;
      // const fname = this.viewMgs.first_name;
      // const lname = this.viewMgs.last_name;
      const to_user = this.viewMgs.from_email;
      // console.log('repy MESSAGE >>>', body_email);
      // console.log('message id >>' + mgs_id + 'subject >>' + subj);
      axios
     .post('/v2/mail/reply',  {
        under_category: category,
        message_id: mgs_id,
        subject: subj,
        reply_user: to_user,
        replyMessage: body_email },
        { headers: {
          Authorization: 'Bearer ' + token,
          'Content-Type': 'multipart/form-data',
        } })
      // customAxios.post('/v2/mail/reply', {
      //   under_category: category,
      //   message_id: mgs_id,
      //   subject: subj,
      //   reply_user: to_user,
      //   replyMessage: body_email })
        .then((response) => {
        console.log(response.data.payload);
        if (response.data.status === 'SUCCESS') {
          this.$swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'Success',
            text: 'message replied successfully',
            showConfirmButton: false,
            timer: 3000,
          });
          this.$router.push('');
        }
      }).catch((error) => {
        console.log(error);
      });
    },
  },
  created() {
     this.getMails()
    //  const token = localStorage.getItem('token')
    // const id = this.$route.params.id;
    // const notfy_id = this.$route.params.notify_id;
    // // eslint-disable-next-line no-useless-concat
    // // console.log('Message id >>>>' + id + ' ' + 'Notify id >>> ' + notfy_id);
    // axios.post('/v2/mails/view', 
    // { messageId: this.$route.params.messageId, notify_Id: this.$route.params.emailId },
    //     { headers: {
    //       Authorization: 'Bearer ' + token,
    //       'Content-Type': 'multipart/form-data',
    //     } })
    // // customAxios.post('/v2/mail/view', { messageId: id, notify_Id: notfy_id })
    // .then((response) => {
    //   console.log(response);
    //   this.viewMgs = response.data.payload;
    //   console.log(response.data.payload);
    //   // console.log('inbox view mail', JSON.parse(response.data.payload.to_user).first_name);
    // }).catch((error) => {
    //   console.log(error);
    // });
  },

};
</script>
<style scoped>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
