<template>
  <div class="col-12 box inset-0 flex flex-col p-4 text-gray-900 top-6">
    
    <span class="text-red">{{errorMessages}}</span>
    <!-- <div class="col-12 box inset-0 flex flex-col p-4 text-gray-900 bg-gray-100 dark:bg-gray-900 dark:text-white top-6"> -->
    <div class="flex justify-between mb-4 dark:text-white">
      <router-link
        class="whitespace-nowrap"
        :to="{
                      name: 'side-menu-sent-email'
                    }"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M11 17l-5-5m0 0l5-5m-5 5h12"
          />
        </svg>
        <!-- icon back -->
      </router-link>
      <div class="flex justify-between">
        <a href="#" class="flex items-center justify-center w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
            />
          </svg>
          <!-- icon bin -->
        </a>
        <a href="#" class="flex items-center justify-center w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
            />
          </svg>
          <!-- icon mail -->
        </a>
        <StarIcon />
        <a href="#" class="flex items-center justify-center w-8">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z"
            />
          </svg>
          <!-- icon dots -->
        </a>
      </div>
    </div>
     <div class="intro-y box p-5 mt-5">
      
   
      <!-- loader text -->
      <span
        v-if="loading"
        class="flex flex-col w-full col-span-12 sm:w-auto items-center mt-10"
      >
        <LoadingIcon icon="oval" class="w-10 h-10" />
        <span>We are loading your details...</span>
      </span></div>
    <!-- email header -->
    <div class="flex items-center text-lg">
   
      <div class="flex flex-wrap items-center dark:text-white" v-if="viewMgs && !loading">
        {{ viewMgs.subject }}
        <div class="">
          <!-- <router-link
                    class="whitespace-nowrap"
                    :to="{
                      name: 'side-menu-communication'
                    }"
                  >
          <svg xmlns="http://www.w3.org/2000/svg" class="inline w-4 rotate-135 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
          </svg> </router-link>-->
        </div>
        <!-- <a href="#" class="text-xxs border px-2 rounded-md border-gray-500 leading-4">Add label</a> -->
      </div>
      <div>
        <!-- <FavoriteStar :is_favorite="email.is_favorite" /> -->
        <!-- <StarIcon /> -->
      </div>
    </div>
     
              
    <div class="mt-6">
      <div class="flex" v-if="viewMgs">
        <!-- <Avatars v-bind:initials="viewMgs.from_fname + viewMgs.from_lname" /> -->
        <Avatars v-bind:initials="formatStringFirstName(viewMgs.to_user)" class="rounded-full" />
        <div class="leading-none text-gray-800 col-span-4 space-y-1 dark:text-gray-200 pl-5">
          <div v-if="viewMgs">
            {{formatStringFirstName(viewMgs.to_user)}} {{formatStringLastName(viewMgs.to_user)}}
            <span
              class="ml-2 text-gray-500 text-xxs dark:text-gray-400"
              v-if="viewMgs"
            >{{ moment(viewMgs.created_at ).fromNow()}}</span>
          </div>
          <div class="flex text-gray-500">
            <div>{{formatStringEmail(viewMgs.to_user)}}</div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="w-3"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"
              />
            </svg>
          </div>
        </div>
        <!-- <img class="rounded-full w-9" :src="email.src" alt=""> -->
      </div>
      <!-- image -->

      <!-- label -->
    </div>
    <!-- email in list -->

    <div class="flex flex-col justify-between flex-1 ml-10 pl-3 overflow-auto">
      <div>
        <!-- <p>Hello,</p> -->
        <!-- <p v-if="viewMgs" class="mt-3" v-html="viewMgs.message"></p> -->
        <p v-if="viewMgs" class="mt-3 mb-3 dark:text-white">{{viewMgs.message}}</p>
        <hr />
        <div class="read-content-attachment" v-if="viewMgs">
          <div
            class="container mx-auto justify-center mt-4 mb-4"
            style="display: flex;
     align-items: center; text-align: center; text-gray-600"
          >
            <div
              class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-4 2xl:grid-cols-4 gap-6"
            >
              <!-- <h6 v-if="viewMgs.emailattachments" ><i class="fa fa-download mb-2"></i> Attachments
                                <span>(3)</span>
              </h6>-->
              
              <div
                class="row attachment"
                v-for="doc_attachment in viewMgs.emailattachments"
                :key="doc_attachment"
              >
              
                <!-- <div class="col-auto">
                                  
                                    <a href="" class="text-muted">documents</a>
                </div>-->
                <div class="text-gray-600">
                  <!-- <div class="left-0 top-0 mt-3 ml-3"> -->
                  <!-- <input class="form-check-input border border-slate-500" type="checkbox" /> -->
                  <!-- <DownloadIcon />
                  </div>-->
                  <!-- <h3>{{doc_attachment.docs.substring(((doc_attachment.docs).replaceAll(' ', '')).lastIndexOf('.')+1)}}</h3> -->
                  <!-- <div class="text-gray-600 flex mt-3 truncate w-12" @click="SaveAs(doc_attachment.docs)"><a href="#"><DownloadIcon class="w-4 h-4"/>
                  <span class="w-6 ">{{doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('/')+1) }}</span></a></div>-->

                  <div
                    class="intro-x flex items-center h-10 hover:text-theme-36 hover:underline"
                    @click="SaveAs(doc_attachment.docs)"
                  >
                  
                    <h2
                      class="font-medium truncate mr-5"
                    >{{doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('/')+1) }}</h2>

                    <a
                      href="javascript:;"
                      data-toggle="modal"
                      data-target="#static-backdrop-modal-preview"
                    >
                      <DownloadIcon class="w-4 h-4" />
                    </a>
                  </div>
                 
<img
                alt=""
                :src="
            (doc_attachment.docs.split('.').pop()) === 'png'
              ? doc_attachment.docs
              : (doc_attachment.docs.split('.').pop()) === 'jpeg'
              ? doc_attachment.docs
              : (doc_attachment.docs.split('.').pop()) === 'jpg'
              ? doc_attachment.docs
              : (doc_attachment.docs.split('.').pop()) === 'pdf'
              ? pdflogo
              : (doc_attachment.docs.split('.').pop()) === 'txt'
              ? textlogo
              : (doc_attachment.docs.split('.').pop()) === 'xls'
              ? excellogo
              : (doc_attachment.docs.split('.').pop()) === 'xlsx'
              ? excellogo
              : (doc_attachment.docs.split('.').pop()) === 'docx'
              ? doclogo
               : doc_attachment.docs.substring(doc_attachment.docs.split('.').pop()) === 'doc'
              ? doclogo
              : 'https://via.placeholder.com/150'
          "

                
                class="rounded-md border border-white max-h-24"
                data-action="zoom"
                @click="SaveAs(doc_attachment.docs)"
                
              />
                  <!-- <img
                    alt
                    :src="
            doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'png'
              ? doc_attachment.docs
              
               : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'jpeg'
              ? doc_attachment.docs
              : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'jpg'
              ? doc_attachment.docs
              : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'pdf'
              ? pdflogo
              : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'txt'
              ? textlogo
              : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'xls'
              ? excellogo
              : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'xlsx'
              ? excellogo
              : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'docx'
              ? doclogo
               : doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) === 'doc'
              ? doclogo
              : 'https://via.placeholder.com/150'
          "
                    class="rounded-md border border-white max-h-24"
                    data-action="zoom"
                    @click="SaveAs(doc_attachment.docs)"
                  /> -->
                  <!-- <a href class="block font-medium mt-4 truncate">{{doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('/')+1) }}</a>
                  <a href class="block font-medium mt-4 truncate">{{doc_attachment.docs.substring(doc_attachment.docs.lastIndexOf('.')+1) }}</a>-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr />
        <!-- <p class="mt-4">Regards,</p>
        <p v-if="viewMgs">Metadent</p>-->
      </div>
      <div class="col-12 flex flex-col p-4 text-gray-900 top-6" v-if="viewMgs">
        <div class="row attachment" v-for="reply in viewMgs.a_l_l_replies" :key="reply">
          <!-- {{reply.subject}} -->

          <div class="mt-6">
            <div class="flex" v-if="viewMgs">
              <!-- <Avatars v-bind:initials="viewMgs.from_fname + viewMgs.from_lname" /> -->
               <Avatars v-bind:initials="reply.from_fname + reply.from_lname" class="rounded-full" />
              <div class="leading-none text-gray-800 col-span-4 space-y-1 dark:text-gray-200 pl-5">
                <div v-if="viewMgs">
                 <span v-if="reply.from_user_id === myId"> Me</span>
                 <span v-else> {{reply.from_fname}} {{reply.from_lname}} </span>
                  <span
                    class="ml-2 text-gray-500 text-xxs dark:text-gray-400"
                    v-if="viewMgs"
                  >{{ moment(reply.created_at ).fromNow()}}</span>
                </div>
                <div class="flex text-gray-500">
                    <div v-if="reply.from_user_id === myId">to {{reply.to_user}}</div>
                   <div v-else>to me</div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-3"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 9l-7 7-7-7"
                    />
                  </svg>
                </div>
              </div>
              <!-- <img class="rounded-full w-9" :src="email.src" alt=""> -->
            </div>
            <!-- image -->

            <!-- label -->
          </div>

          <div class="flex flex-col justify-between flex-1 overflow-auto ml-10 pl-3">
            <div>
              <!-- <p>Hello,</p> -->
              <!-- <p v-if="viewMgs" class="mt-3" v-html="viewMgs.message"></p> -->
              <p v-if="viewMgs" class=" mb-3 dark:text-white">{{reply.replyMessage}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- reply -->
      <div class="flex px-1 pt-4 pb-2 space-x-2 lg:pl-24 lg:pr-24" v-if="viewMgs">
        <a
          href="#replyform"
          v-on:click="seen = !seen"
          class="flex items-center justify-center flex-1 p-2 border border-gray-300 rounded-full dark:border-gray-500 transition-all ring-gray-50 focus:border-theme-36 dark:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 mr-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
            />
          </svg>
          Reply
        </a>
        <a
          href="#replyform"
          v-on:click="seen = !seen"
          class="flex items-center justify-center flex-1 p-2 border border-gray-300 rounded-full dark:border-gray-500 transition-all ring-gray-50 focus:border-theme-36 dark:text-white"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-5 mr-2 scale-x-flip"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"
            />
          </svg>
          Forward
        </a>
      </div>
    </div>
    <div class="col-12 inset-0 flex flex-col mb-10 text-gray-900 top-6" v-if="viewMgs" id="replyform">
      <form @submit.prevent="reply" v-if="seen">
        <div class="mb-3 pt-3">

          <textarea
            id="textInput"
            name="reply_email"
            v-model="reply_email"
            cols="30"
            rows="2"
            class="form-control"
            placeholder="message"
            required
          ></textarea>
           
         
        </div>
        <div class>
          <!-- <button type="submit" class="btn btn-primary ">Send</button> -->

          <button type="submit" class="btn bg-theme-32 w-40 mr-auto text-white">
            <LoadingIcon v-if="loadingbutton" icon="spinning-circles" color="white" class="w-4 h-4 ml-2" />
            <span v-else>Send</span>
          </button>
        </div>
      </form>
<!-- notifications -->
   <div id="failure-notification-content" class="toastify-content hidden flex">
        <XCircleIcon class="text-theme-6" />
        <div class="ml-4 mr-4">
          <div class="font-medium">Please check the filled form.</div>
          <div class="text-gray-600 mt-1">Reply is not saved.</div>
        </div>
      </div>
      <!-- BEGIN: Success Notification Content -->
      <div id="success-notification-content-reply" class="toastify-content hidden flex">
        <CheckCircleIcon class="text-theme-9" />
        <div class="ml-4 mr-4">
          <div class="font-medium">Reply has been Successfully sent</div>
        </div>
      </div>
    </div>
  </div>
  <!-- Closed email -->
</template>

<script>
// eslint-disable-next-line no-unused-vars
import moment from 'moment'
// eslint-disable-next-line import/no-cycle
import axios from 'axios'
// eslint-disable-next-line no-unused-vars
import avatar from '../../assets/images/placeholder.jpg'

import Avatars from '@/components/avatar/Avatar.vue'
import Toastify from 'toastify-js'
import router from '../../router'

export default {
  name: 'readMgs',
  props: ['messageId: { type: Object }'],
  components: { Avatars },
  data() {
    return {
      myError: '',
      reply_email: '',
      myId :'',
      avatar,
      viewMgs: null,
      loading: true,
      seen: false,
      pdflogo: require('@/assets/images/pdfthumbnail.png'),
      textlogo: require('@/assets/images/textthumbnail.png'),
      excellogo: require('@/assets/images/excelthumbnail.png'),
      doclogo: require('@/assets/images/docthumbnail.png'),
      loading: false,
      loadingbutton: false,
      
      errorMessages:null,
      
    }
  },
  methods: {
    moment,
    status(id) {
      const token = localStorage.getItem('token')
      // console.log('dropdown', id);
      const mgs_Id = this.$route.params.id
      axios
        .post(
          '/v2/mail/status',
          { statusId: id, messageId: mgs_Id },
          {
            headers: {
              Authorization: 'Bearer ' + token,
              'Content-Type': 'multipart/form-data'
            }
          }
        )
        // customAxios.post('/v2/mail/status', { statusId: id, messageId: mgs_Id })
        .then(response => {
          console.log(response.data.payload)
        })
        .catch(error => console.log(error))
    },
    getMails() {
      this.loading = true
      const token = localStorage.getItem('token')
      const data = {
        messageId: this.$route.params.messageId
        // notify_Id: this.$route.params.emailId
      }
      axios
        .post('v2/mails/view_sent', data, {
          headers: {
            Authorization: 'Bearer ' + token,

            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(res => {
          console.log('expired session response', res)
          this.loading = false
          this.viewMgs = res.data.payload
          console.log('opened sent email', this.viewMgs)
          if (res.data.status === '401') {
            console.log('expired session')
            this.$store.dispatch('auth/logout')
            router.push('/login')
            // window.location.href = '/'
            // localStorage.removeItem('user')
            // this.$router.push('/login')
          }
        })
        // .catch(
        //   (err)=> console.log('expired session error', err.response.status)

        //  )
        .catch(function(err) {
          console.log('expired session error new', err.response.status)
          const errorCode = err.response.status
          if (errorCode === 401) {
            console.log('expired session')
            localStorage.removeItem('user')
            localStorage.removeItem('token')
            this.$router.go('/login')
          } else {
            // Handle else
          }
        })
    },
    SaveAs(url) {
      console.log('url passed', url)
      // document.getElementById('my_iframe').src = url
      const link = document.createElement('a')
      link.href = url
      link.target = '_blank'
      link.click()
    },
    formatStringLastName(value) {
      if (value) {
        try {
          console.log('string formatted', typeof value)
          const response = JSON.parse(value).last_name
          return response
        } catch (err) {
          // 👇️ SyntaxError: Unexpected end of JSON input
          console.log('error json', err)
        }
      }
    },
    formatStringEmail(value) {
      if (value) {
        try {
          console.log('string formatted', typeof value)
          const response = JSON.parse(value).email

          return response
        } catch (err) {
          // 👇️ SyntaxError: Unexpected end of JSON input
          console.log('error json', err)
        }
      }
    },
    formatStringFirstName(value) {
      if (value) {
        try {
          console.log('string formatted', typeof value)
          const response = JSON.parse(value).first_name

          return response
        } catch (err) {
          // 👇️ SyntaxError: Unexpected end of JSON input
          console.log('error json', err)
        }
      }
    },
    reply() {
      const token = localStorage.getItem('token')
this.loadingbutton = true
      const category = 'private_care'
      const mgs_id = this.$route.params.messageId
      const subj = this.viewMgs.subject
      const body_email = this.reply_email
      // const fname = this.viewMgs.first_name;
      // const lname = this.viewMgs.last_name;
      const to_user = this.viewMgs.from_email
      const textInput = document.getElementById('textInput')
      // console.log('repy MESSAGE >>>', body_email);
      // console.log('message id >>' + mgs_id + 'subject >>' + subj);
      axios
        .post(
          '/v2/mails/reply',
          {
            under_category: category,
            message_id: mgs_id,
            subject: subj,
            reply_user: to_user,
            replyMessage: body_email
          },
          {
            headers: {
              Authorization: 'Bearer ' + token,

              'Content-Type': 'application/json',
              'X-Requested-With': 'XMLHttpRequest'
            }
          }
        )
        // customAxios.post('/v2/mail/reply', {
        //   under_category: category,
        //   message_id: mgs_id,
        //   subject: subj,
        //   reply_user: to_user,
        //   replyMessage: body_email })
        .then(response => {
           this.loadingbutton = false
         
          if (response.data.status === 'SUCCESS') {
            Toastify({
              node: cash('#success-notification-content-reply')
                .clone()
                .removeClass('hidden')[0],
              duration: 3000,
              newWindow: true,
              close: true,
              gravity: 'top',
              position: 'right',
              stopOnFocus: true
            }).showToast()
                this.getMails()
                  this.reply_email = ""
            // router.push('side-menu-sent-email')
          }
         
        })
        // .catch(error => {
        //   console.log('my error',error)
        // })
          .catch(function(err) {
          
          const errorCode = err.response.status
          if (errorCode === 422) {
          console.log('422 error', err.response.data.errors.replyMessage[0])
             Toastify({
          node: cash("#failure-notification-content").clone().removeClass("hidden")[0],
          duration: 3000,
          newWindow: true,
          close: true,
          gravity: "top",
          position: "right",
          stopOnFocus: true,
        }).showToast();
         } 
             else if (errorCode === 401) {
            console.log('expired session')
            localStorage.removeItem('user')
            localStorage.removeItem('token')
            this.$router.go('/login')
          }
          
          
          else {
            // Handle else
          }
        })
      
        this.loadingbutton = false 
    }
  },
  created() {
    this.getMails()
    this.myId = localStorage.getItem('userID')
  }
}
</script>
<style scoped>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
</style>
