<template>
  <div>
    <DarkModeSwitcher />
    <LanguageSwitcher />
    <div class="container sm:px-10">
      <div class="block xl:grid grid-cols-2 gap-4">
        <!-- BEGIN: Register Info -->
        <div class="hidden xl:flex flex-col min-h-screen">
          <a href="" class="-intro-x flex items-center pt-5">
            <img alt="Metadent" class="w-10 h-10 font-medium" :src="logo" />
            <span class="text-4xl ml-1 font-medium leading-none text-theme-3">
              <span class="font-medium">Metadent</span>
            </span>
          </a>
          <div class="my-auto">
            <img
              alt="Metadent"
              class="-intro-x w-1/2 -mt-16"
              :src="require('@/assets/images/doctor.png')"
            />
          </div>
        </div>
        <!-- END: Register Info -->

        <!-- BEGIN: Register Form -->
        <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
          <div
            class="my-auto mx-auto xl:ml-20 bg-white dark:bg-dark-1 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto"
          >
            <h2
              class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left"
            >
              {{ $t('translation.global.register') }}
            </h2>

            <div
              v-if="message"
              class="alert alert-outline-danger show flex items-center mb-2 mt-2"
              role="alert"
            >
              {{ message }}
            </div>

            <!-- Form Start -->
            <Form
              @submit="handleRegister"
              :validation-schema="schema"
              autocomplete="off"
            >
              <input
                autocomplete="false"
                name="hidden"
                type="text"
                class="hidden"
              />
              <div class="intro-x mt-8">
                <!-- First Name -->
                <Field
                  type="text"
                  name="first_name"
                  class="intro-x login__input form-control py-3 px-4 border-gray-200 focus:border-theme-36 block"
                  v-model="first_name"
                  :placeholder="`${$t('translation.global.firstName')}`"
                />
                <!-- <small class="text-theme-6 mt-2">{{ firstNameError }}</small> -->
                <ErrorMessage
                  name="first_name"
                  style="font-size: 13px"
                  class="text-theme-6"
                />

                <!-- Last Name -->
                <Field
                  type="text"
                  name="last_name"
                  class="intro-x login__input form-control py-3 px-4 border-gray-200 focus:border-theme-36 block mt-4"
                  v-model="last_name"
                  :placeholder="`${$t('translation.last_name_text')}`"
                />
                <ErrorMessage
                  name="last_name"
                  style="font-size: 13px"
                  class="text-theme-6"
                />
                <!-- phone -->
                <div
                  class="input-group mt-2 p-0 grid grid-flow-col grid-cols-1 md:grid-cols-1 sm:grid-cols-1 lg:grid grid-cols-[20%_80%] xl:grid grid-cols-[20%_80%] 2xl:grid grid-cols-[20%_80%]"
                >
                  <div class="input-group-text w-full">
                    <TomSelect
                      class="w-auto col-span-1 focus:border-theme-36"
                      as="select"
                      name="country"
                      id="country"
                      v-model="phoneCountryCode.countryCode"
                    >
                      <option value="93">Afghanistan +93</option>
                      <option value="358">Aland Islands +358</option>
                      <option value="355">Albania +355</option>
                      <option value="213">Algeria +213</option>
                      <option value="1684">American Samoa +1684</option>
                      <option value="376">Andorra +376</option>
                      <option value="244">Angola +244</option>
                      <option value="1264">Anguilla +1264</option>
                      <option value="672">Antarctica +672</option>
                      <option value="1268">Antigua and Barbuda +1268</option>
                      <option value="54">Argentina +54</option>
                      <option value="374">Armenia +374</option>
                      <option value="297">Aruba +297</option>
                      <option value="61">Australia +61</option>
                      <option value="43">Austria +43</option>
                      <option value="994">Azerbaijan +994</option>
                      <option value="1242">Bahamas +1242</option>
                      <option value="973">Bahrain +973</option>
                      <option value="880">Bangladesh +880</option>
                      <option value="1246">Barbados +1246</option>
                      <option value="375">Belarus +375</option>
                      <option value="32">Belgium +32</option>
                      <option value="501">Belize +501</option>
                      <option value="229">Benin +229</option>
                      <option value="1441">Bermuda +1441</option>
                      <option value="975">Bhutan +975</option>
                      <option value="591">Bolivia +591</option>
                      <option value="599">
                        Bonaire, Sint Eustatius and Saba +599
                      </option>
                      <option value="387">Bosnia and Herzegovina +387</option>
                      <option value="267">Botswana +267</option>
                      <option value="55">Bouvet Island +55</option>
                      <option value="55">Brazil +55</option>
                      <option value="246">
                        British Indian Ocean Territory +246
                      </option>
                      <option value="673">Brunei Darussalam +673</option>
                      <option value="359">Bulgaria +359</option>
                      <option value="226">Burkina Faso +226</option>
                      <option value="257">Burundi +257</option>
                      <option value="855">Cambodia +855</option>
                      <option value="237">Cameroon +237</option>
                      <option value="1">Canada +1</option>
                      <option value="238">Cape Verde +238</option>
                      <option value="1345">Cayman Islands +1345</option>
                      <option value="236">Central African Republic +236</option>
                      <option value="235">Chad +235</option>
                      <option value="56">Chile +56</option>
                      <option value="86">China +86</option>
                      <option value="61">Christmas Island +61</option>
                      <option value="672">Cocos (Keeling) Islands +672</option>
                      <option value="57">Colombia +57</option>
                      <option value="269">Comoros +269</option>
                      <option value="242">Congo +242</option>
                      <option value="242">
                        Congo, Democratic Republic of the Congo +242
                      </option>
                      <option value="682">Cook Islands +682</option>
                      <option value="506">Costa Rica +506</option>
                      <option value="225">Cote D'Ivoire +225</option>
                      <option value="385">Croatia +385</option>
                      <option value="53">Cuba +53</option>
                      <option value="599">Curacao +599</option>
                      <option value="357">Cyprus +357</option>
                      <option value="420">Czech Republic +420</option>
                      <option value="45">Denmark +45</option>
                      <option value="253">Djibouti +253</option>
                      <option value="1767">Dominica +1767</option>
                      <option value="1809">Dominican Republic +1809</option>
                      <option value="593">Ecuador +593</option>
                      <option value="20">Egypt +20</option>
                      <option value="503">El Salvador +503</option>
                      <option value="240">Equatorial Guinea +240</option>
                      <option value="291">Eritrea +291</option>
                      <option value="372">Estonia +372</option>
                      <option value="251">Ethiopia +251</option>
                      <option value="500">
                        Falkland Islands (Malvinas) +500
                      </option>
                      <option value="298">Faroe Islands +298</option>
                      <option value="679">Fiji +679</option>
                      <option value="358">Finland +358</option>
                      <option value="33">France +33</option>
                      <option value="594">French Guiana +594</option>
                      <option value="689">French Polynesia +689</option>
                      <option value="262">
                        French Southern Territories +262
                      </option>
                      <option value="241">Gabon +241</option>
                      <option value="220">Gambia +220</option>
                      <option value="995">Georgia +995</option>
                      <option value="49">Germany +49</option>
                      <option value="233">Ghana +233</option>
                      <option value="350">Gibraltar +350</option>
                      <option value="30">Greece +30</option>
                      <option value="299">Greenland +299</option>
                      <option value="1473">Grenada +1473</option>
                      <option value="590">Guadeloupe +590</option>
                      <option value="1671">Guam +1671</option>
                      <option value="502">Guatemala +502</option>
                      <option value="44">Guernsey +44</option>
                      <option value="224">Guinea +224</option>
                      <option value="245">Guinea-Bissau +245</option>
                      <option value="592">Guyana +592</option>
                      <option value="509">Haiti +509</option>
                      <option value="0">
                        Heard Island and Mcdonald Islands +0
                      </option>
                      <option value="39">
                        Holy See (Vatican City State) +39
                      </option>
                      <option value="504">Honduras +504</option>
                      <option value="852">Hong Kong +852</option>
                      <option value="36">Hungary +36</option>
                      <option value="354">Iceland +354</option>
                      <option value="91">India +91</option>
                      <option value="62">Indonesia +62</option>
                      <option value="98">Iran, Islamic Republic of +98</option>
                      <option value="964">Iraq +964</option>
                      <option value="353">Ireland +353</option>
                      <option value="44">Isle of Man +44</option>
                      <option value="972">Israel +972</option>
                      <option value="39">Italy +39</option>
                      <option value="1876">Jamaica +1876</option>
                      <option value="81">Japan +81</option>
                      <option value="44">Jersey +44</option>
                      <option value="962">Jordan +962</option>
                      <option value="7">Kazakhstan +7</option>
                      <option value="254">Kenya +254</option>
                      <option value="686">Kiribati +686</option>
                      <option value="850">
                        Korea, Democratic People's Republic of +850
                      </option>
                      <option value="82">Korea, Republic of +82</option>
                      <option value="381">Kosovo +381</option>
                      <option value="965">Kuwait +965</option>
                      <option value="996">Kyrgyzstan +996</option>
                      <option value="856">
                        Lao People's Democratic Republic +856
                      </option>
                      <option value="371">Latvia +371</option>
                      <option value="961">Lebanon +961</option>
                      <option value="266">Lesotho +266</option>
                      <option value="231">Liberia +231</option>
                      <option value="218">Libyan Arab Jamahiriya +218</option>
                      <option value="423">Liechtenstein +423</option>
                      <option value="370">Lithuania +370</option>
                      <option value="352">Luxembourg +352</option>
                      <option value="853">Macao +853</option>
                      <option value="389">
                        Macedonia, the Former Yugoslav Republic of +389
                      </option>
                      <option value="261">Madagascar +261</option>
                      <option value="265">Malawi +265</option>
                      <option value="60">Malaysia +60</option>
                      <option value="960">Maldives +960</option>
                      <option value="223">Mali +223</option>
                      <option value="356">Malta +356</option>
                      <option value="692">Marshall Islands +692</option>
                      <option value="596">Martinique +596</option>
                      <option value="222">Mauritania +222</option>
                      <option value="230">Mauritius +230</option>
                      <option value="269">Mayotte +269</option>
                      <option value="52">Mexico +52</option>
                      <option value="691">
                        Micronesia, Federated States of +691
                      </option>
                      <option value="373">Moldova, Republic of +373</option>
                      <option value="377">Monaco +377</option>
                      <option value="976">Mongolia +976</option>
                      <option value="382">Montenegro +382</option>
                      <option value="1664">Montserrat +1664</option>
                      <option value="212">Morocco +212</option>
                      <option value="258">Mozambique +258</option>
                      <option value="95">Myanmar +95</option>
                      <option value="264">Namibia +264</option>
                      <option value="674">Nauru +674</option>
                      <option value="977">Nepal +977</option>
                      <option value="31">Netherlands +31</option>
                      <option value="599">Netherlands Antilles +599</option>
                      <option value="687">New Caledonia +687</option>
                      <option value="64">New Zealand +64</option>
                      <option value="505">Nicaragua +505</option>
                      <option value="227">Niger +227</option>
                      <option value="234">Nigeria +234</option>
                      <option value="683">Niue +683</option>
                      <option value="672">Norfolk Island +672</option>
                      <option value="1670">
                        Northern Mariana Islands +1670
                      </option>
                      <option value="47">Norway +47</option>
                      <option value="968">Oman +968</option>
                      <option value="92">Pakistan +92</option>
                      <option value="680">Palau +680</option>
                      <option value="970">
                        Palestinian Territory, Occupied +970
                      </option>
                      <option value="507">Panama +507</option>
                      <option value="675">Papua New Guinea +675</option>
                      <option value="595">Paraguay +595</option>
                      <option value="51">Peru +51</option>
                      <option value="63">Philippines +63</option>
                      <option value="64">Pitcairn +64</option>
                      <option value="48">Poland +48</option>
                      <option value="351">Portugal +351</option>
                      <option value="1787">Puerto Rico +1787</option>
                      <option value="974">Qatar +974</option>
                      <option value="262">Reunion +262</option>
                      <option value="40">Romania +40</option>
                      <option value="70">Russian Federation +70</option>
                      <option value="250">Rwanda +250</option>
                      <option value="590">Saint Barthelemy +590</option>
                      <option value="290">Saint Helena +290</option>
                      <option value="1869">Saint Kitts and Nevis +1869</option>
                      <option value="1758">Saint Lucia +1758</option>
                      <option value="590">Saint Martin +590</option>
                      <option value="508">
                        Saint Pierre and Miquelon +508
                      </option>
                      <option value="1784">
                        Saint Vincent and the Grenadines +1784
                      </option>
                      <option value="684">Samoa +684</option>
                      <option value="378">San Marino +378</option>
                      <option value="239">Sao Tome and Principe +239</option>
                      <option value="966">Saudi Arabia +966</option>
                      <option value="221">Senegal +221</option>
                      <option value="381">Serbia +381</option>
                      <option value="381">Serbia and Montenegro +381</option>
                      <option value="248">Seychelles +248</option>
                      <option value="232">Sierra Leone +232</option>
                      <option value="65">Singapore +65</option>
                      <option value="1">Sint Maarten +1</option>
                      <option value="421">Slovakia +421</option>
                      <option value="386">Slovenia +386</option>
                      <option value="677">Solomon Islands +677</option>
                      <option value="252">Somalia +252</option>
                      <option value="27">South Africa +27</option>
                      <option value="500">
                        South Georgia and the South Sandwich Islands +500
                      </option>
                      <option value="211">South Sudan +211</option>
                      <option value="34">Spain +34</option>
                      <option value="94">Sri Lanka +94</option>
                      <option value="249">Sudan +249</option>
                      <option value="597">Suriname +597</option>
                      <option value="47">Svalbard and Jan Mayen +47</option>
                      <option value="268">Swaziland +268</option>
                      <option value="46">Sweden +46</option>
                      <option value="41">Switzerland +41</option>
                      <option value="963">Syrian Arab Republic +963</option>
                      <option value="886">
                        Taiwan, Province of China +886
                      </option>
                      <option value="992">Tajikistan +992</option>
                      <option value="255">
                        Tanzania, United Republic of +255
                      </option>
                      <option value="66">Thailand +66</option>
                      <option value="670">Timor-Leste +670</option>
                      <option value="228">Togo +228</option>
                      <option value="690">Tokelau +690</option>
                      <option value="676">Tonga +676</option>
                      <option value="1868">Trinidad and Tobago +1868</option>
                      <option value="216">Tunisia +216</option>
                      <option value="90">Turkey +90</option>
                      <option value="7370">Turkmenistan +7370</option>
                      <option value="1649">
                        Turks and Caicos Islands +1649
                      </option>
                      <option value="688">Tuvalu +688</option>
                      <option value="256">Uganda +256</option>
                      <option value="380">Ukraine +380</option>
                      <option value="971">United Arab Emirates +971</option>
                      <option value="44">United Kingdom +44</option>
                      <option value="1">United States +1</option>
                      <option value="1">
                        United States Minor Outlying Islands +1
                      </option>
                      <option value="598">Uruguay +598</option>
                      <option value="998">Uzbekistan +998</option>
                      <option value="678">Vanuatu +678</option>
                      <option value="58">Venezuela +58</option>
                      <option value="84">Viet Nam +84</option>
                      <option value="1284">
                        Virgin Islands, British +1284
                      </option>
                      <option value="1340">Virgin Islands, U.s. +1340</option>
                      <option value="681">Wallis and Futuna +681</option>
                      <option value="212">Western Sahara +212</option>
                      <option value="967">Yemen +967</option>
                      <option value="260">Zambia +260</option>
                      <option value="263">Zimbabwe +263</option>
                    </TomSelect>
                  </div>
                  <Field
                    oninput="javascript: if (this.value.length > 9) this.value = this.value.slice(0, 9);"
                    type="number"
                    name="phone"
                    class="intro-x login__input form-control border-gray-200 focus:border-theme-36 block col-span-4"
                    v-model="phoneCountryCode.phone"
                    placeholder="e.g 678647465"
                    maxlength="9"
                  />
                </div>

                <ErrorMessage
                  name="phone"
                  style="font-size: 13px"
                  class="text-theme-6"
                />

                <!-- address -->
                <Field
                  type="text"
                  name="address"
                  class="intro-x login__input form-control py-3 px-4 border-gray-200 focus:border-theme-36 block mt-4"
                  :placeholder="translations?.address_text ?? 'address'"
                  v-model="address"
                  value=""
                />
                <ErrorMessage
                  name="address"
                  style="font-size: 13px"
                  class="text-theme-6"
                />
                <!-- date of birth  -->
                <div class="flex">
                  <div class="flex w-full mt-4">
                    <Litepicker
                      v-model="birthDate"
                      placeholder="Date of birth*"
                      name="birthDate"
                      :options="{
                        autoApply: true,
                        showWeekNumbers: true,
                        dropdowns: {
                          minYear: 1960,
                          maxYear: null,
                          months: true,
                          years: true
                        }
                      }"
                      class="w-full intro-x form-control py-3 px-4 block border-gray-200 focus:border-theme-36"
                      style="box-shadow: 0px 3px 5px #00000007"
                    />
                    <div
                      class="z-30 w-10 flex items-center justify-center text-gray-600 dark:bg-dark-1 dark:border-dark-4 -mr-1 border-gray-300 focus:border-theme-36"
                    >
                      <span class="px-4 input-group-text">DOB</span>
                    </div>
                  </div>
                </div>
                <ErrorMessage
                  name="birthDate"
                  style="font-size: 13px"
                  class="text-theme-6"
                />

                <!-- Email -->
                <Field
                  type="email"
                  name="email"
                  class="intro-x login__input form-control py-3 px-4 border-gray-200 focus:border-theme-36 block mt-4"
                  :placeholder="`${$t('translation.email_text')}`"
                  v-model="email"
                  value=""
                />
                <ErrorMessage
                  name="email"
                  style="font-size: 13px"
                  class="text-theme-6"
                />

                <div class="flex">
                  <div
                    class="w-full mt-4 input-group border-gray-200 focus:border-theme-36"
                  >
                    <Field
                      name="password"
                      class="intro-x form-control py-3 px-4 block border-gray-200 focus:border-theme-36"
                      v-model="password"
                      :placeholder="`${$t('translation.password_text')}`"
                      :type="type"
                      value
                      style="box-shadow: 0px 3px 5px #00000007"
                      id="password_field"
                    />

                    <div
                      class="py-2 px-3 bg-slate-100 border shadow-sm border-slate-200 text-slate-600 dark:bg-darkmode-900/20 dark:border-darkmode-900/20 dark:text-slate-400 rounded-none first:rounded-l last:rounded-r"
                      id="input-group-email"
                      @click="showPassword"
                    >
                      <i class="fa fa-eye" aria-hidden="true" id="toggler"></i>
                    </div>
                  </div>
                </div>

                <!-- Password -->
                <!-- <div class="flex">
                  <div class="flex w-full mt-4">
                    
                    <Field
                      name="password"
                      class="w-full intro-x form-control py-3 px-4 block border-gray-200 focus:border-theme-36"
                      v-model="password"
                      :placeholder="`${$t('translation.password_text')}`"
                      :type="type"
                      value=""
                      style="box-shadow: 0px 3px 5px #00000007"
                    />
                    <div
                      class="text-theme-32 z-30 w-10 flex items-center justify-center text-gray-600 dark:bg-dark-1 dark:border-dark-4 -mr-1 border-gray-300 focus:border-theme-36"
                    >
                      <i
                        class="fa fa-eye px-4"
                        aria-hidden="true"
                        id="toggler"
                        @click="showPassword"
                      ></i>
                    </div>
                  </div>
                </div> -->
                <ErrorMessage
                  name="password"
                  style="font-size: 13px"
                  class="text-theme-6"
                />
                <!-- <div class="flex">
                  <div class="flex w-full mt-4">
                    <Field
                      name="password_confirmation"
                      class="w-full intro-x form-control py-3 px-4 block border-gray-200 focus:border-theme-36"
                      v-model="password_confirmation"
                      :placeholder="
                        translations?.password_confirmation_text ??
                        'Password Confirmation'
                      "
                      :type="typeconfirm"
                      value=""
                      style="box-shadow: 0px 3px 5px #00000007"
                    />
                    <div
                      class="text-theme-32 z-30 w-10 flex items-center justify-center text-gray-600 dark:bg-dark-1 dark:border-dark-4 -mr-1 border-gray-300 focus:border-theme-36"
                    >
                      <i
                        class="fa fa-eye px-4"
                        aria-hidden="true"
                        id="togglerconfirm"
                        @click="showPasswordconfirm"
                      ></i>
                    </div>
                  </div>
                </div> -->

                <div class="flex">
                  <div
                    class="w-full mt-4 input-group border-gray-200 focus:border-theme-36"
                  >
                    <Field
                      class="intro-x form-control py-3 px-4 block border-gray-200 focus:border-theme-36"
                      name="password_confirmation"
                      :placeholder="`${$t(
                        'translation.password_confirmation_text'
                      )}`"
                     :type="typeconfirm"
                      value
                      style="box-shadow: 0px 3px 5px #00000007"
                      id="password_field"
                    />

                    <div
                      class="py-2 px-3 bg-slate-100 border shadow-sm border-slate-200 text-slate-600 dark:bg-darkmode-900/20 dark:border-darkmode-900/20 dark:text-slate-400 rounded-none first:rounded-l last:rounded-r"
                      id="input-group-email"
                      @click="showPasswordconfirm"
                    >
                      <i class="fa fa-eye" aria-hidden="true"  id="togglerconfirm"></i>
                    </div>
                  </div>
                </div>
                <!-- Password Confirmation -->

                <ErrorMessage
                  name="password_confirmation"
                  style="font-size: 13px"
                  class="text-theme-6"
                />
                <!-- gender -->

                <div class="intro-y col-span-12 sm:col-span-6 mt-3">
                  <!-- <div class="intro-y input-group-text w-full"> -->
                  <TomSelect
                    class="w-auto col-span-1 focus:border-theme-36"
                    id="gender"
                    :placeholder="`${$t('translation.choose_gender_text')}`"
                    v-model="gender"
                  >
                    <option value="Male">
                      {{ $t('translation.male_text') }}
                    </option>
                    <option value="Female">
                      {{ $t('translation.female_text') }}
                    </option>
                    <option value="Other">
                      {{ $t('translation.other_text') }}
                    </option>
                  </TomSelect>
                  <ErrorMessage
                    name="gender"
                    style="font-size: 13px"
                    class="text-theme-6"
                  />
                </div>
              </div>
              <div
                class="intro-x flex items-center text-gray-700 dark:text-gray-600 mt-4 text-xs sm:text-sm"
              ></div>
              <ErrorMessage
                name="terms"
                style="font-size: 13px"
                class="text-theme-6"
              />

              <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left">
                <button
                  class="btn py-3 px-4 w-full align-top bg-theme-32 text-white"
                  type="submit"
                >
                  <LoadingIcon
                    v-if="loading"
                    icon="spinning-circles"
                    color="white"
                    class="w-4 h-4 ml-2"
                  />
                  <span v-else> {{ $t('translation.global.register') }}</span>
                </button>

                <small class="text-theme-6 mt-2" v-if="error.message">{{
                  error.message
                }}</small>
              </div>
            </Form>
            <div
              class="intro-x flex text-gray-700 dark:text-gray-600 text-xs sm:text-sm mt-4"
            >
              <span>
                <a href="" class="font-bold">
                  {{ $t('translation.auth.already_have_an_account_text') }}?</a
                ><router-link
                  to="/login"
                  class="
        "
                  ><a class="text-theme-32 font-bold ml-2">
                    {{ $t('translation.auth.signIn') }}</a
                  ></router-link
                ></span
              >
            </div>
          </div>
        </div>

        <!-- BEGIN: Account Creation Success Notification Content -->
        <div
          id="success-notification-content"
          class="toastify-content hidden flex"
        >
          <CheckCircleIcon class="text-theme-9" />
          <div class="ml-4 mr-4">
            <div class="font-medium">
              Your Account Has Been Successfully Created
            </div>
          </div>
        </div>
        <!-- END: Account Creation Success Notification Content -->

        <!-- BEGIN: Account Creation Failure Notification Content -->
        <div
          style="background-color: #ff0e0e"
          id="failure-notification-content"
          class="toastify-content hidden flex"
        >
          <XCircleIcon class="text-theme-9" />
          <div class="ml-4 mr-4">
            <div class="font-medium text-white">
              {{ this.message }}
            </div>
          </div>
        </div>
        <!-- END: Account Creation Failure Notification Content -->

        <!-- END: Register Form -->
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, onMounted, inject } from 'vue'
import DarkModeSwitcher from '@/components/dark-mode-switcher/Main.vue'

// Validations
import { Form, Field, ErrorMessage } from 'vee-validate'
import * as yup from 'yup'
import Toastify from 'toastify-js'
import moment from 'moment'
import TomSelect from 'tom-select'
import LanguageSwitcher from '@/components/language-switcher/LanguageSwitcher.vue'
export default defineComponent({
  components: {
    DarkModeSwitcher,
    Form,
    Field,
    ErrorMessage,
    LanguageSwitcher
  },
  setup() {
    const translations = inject('translation_v3')
    onMounted(() => {
      cash('body')
        .removeClass('main')
        .removeClass('error-page')
        .addClass('login')
    })

    return {
      translations
    }
  },
  data() {
    // const phoneRegExp =
    //   /^([0]{1}|\+?[256]{3})([7-9]{1})([0-9]{1})([\d]{1})([\d]{6})$/g
    const phoneRegExp = /^\d{9}$/
    // Define a validation schema
    const schema = yup.object().shape({
      first_name: yup.string().required('First Name is required'),
      last_name: yup.string().required('Last Name is required'),
      // phone: yup.phone().required('Phone number is required'),
      phone: yup
        .string()
        .required('Phonenumber is required')
        .matches(phoneRegExp, 'Phone number is not valid'),
      address: yup.string(),
      email: yup.string().email('Invalid email format'),
      address: yup.string().required('Address is required'),
      gender: yup.string(),
      // birthDate: yup.string().required('Date of birth is required'),
      password: yup
        .string()
        .required('Password is required')
        .min(8)
        .matches(
          /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&.]{8,}$/,
          'Must Contain 8 Characters, One Uppercase, One Lowercase, One Number and one special case Character'
        ),
      password_confirmation: yup
        .string()
        .required('Re-type your password')
        .oneOf([yup.ref('password'), null], 'Passwords must match')
    })

    return {
      successful: false,
      type: 'password',
      loading: false,
      schema,
      error: {},
      logo: require('@/assets/images/logos.png'),
      message: '',
      typeconfirm: 'password',
      gender: 'Male',
      phoneCountryCode: {
        phone: '',
        countryCode: '256',
        countryCode: '31'
      }
    }
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn
    },
    // eslint-disable-next-line vue/no-dupe-keys
    phone: {
      // getter
      get: function () {
        return `${this.countryCode}${this.phone}`
      },
      // setter
      set: function (newValue) {
        this.phone = newValue.replace(this.countryCode, '')
      }
    }
  },
  created() {},
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/dashboard')
    }
  },
  methods: {
    moment,
    showPassword() {
      console.log('toggle password')
      if (this.type === 'password') {
        this.type = 'text'
        document.getElementById('toggler').className = 'fa fa-eye-slash'
        //  toggler.removeClass('fa fa-eye');
        //   toggler.addClass('fa fa-eye-slash');
      } else {
        this.type = 'password'
        document.getElementById('toggler').className = 'fa fa-eye'
      }
    },
    showPasswordconfirm() {
      console.log('toggle password')
      if (this.typeconfirm === 'password') {
        this.typeconfirm = 'text'
        document.getElementById('togglerconfirm').className = 'fa fa-eye-slash'
        //  toggler.removeClass('fa fa-eye');
        //   toggler.addClass('fa fa-eye-slash');
      } else {
        this.typeconfirm = 'password'
        document.getElementById('togglerconfirm').className = 'fa fa-eye'
      }
    },
    handleRegister() {
      console.log('inside register handle')
      const user = {
        firstName: this.first_name,
        lastName: this.last_name,
        address: this.address,
        phone: `${
          this.phoneCountryCode.countryCode + this.phoneCountryCode.phone
        }`,
        // birthDate: moment(this.birthDate).format("YYYY-MM-DD"),
        birthDate: moment(this.birthDate).format('DD-MM-YYYY'),
        email: this.email,
        password: this.password,
        password_confirmation: this.password_confirmation,
        gender: this.gender
      }

      this.successful = false
      this.loading = true

      this.$store.dispatch('auth/register', user).then((response) => {
        console.log('response.status regi ', response)
        if (response.status == true) {
          this.message = response.message
          // this.successful = true
          this.loading = false

          // Notification
          Toastify({
            node: cash('#success-notification-content')
              .clone()
              .removeClass('hidden')[0],
            duration: 3000,
            newWindow: true,
            close: true,
            gravity: 'top',
            position: 'right',
            stopOnFocus: true
          }).showToast()

          // Redirect to login page
          this.$router.push('/dashboard').catch((msg) => console.log(msg))
        } else if (response.status == false) {
          this.message = response.error
          // this.successful = true
          this.loading = false
          console.log('error message 2222', this.message)
          // Notification
          // Toastify({
          //   node: cash('#failure-notification-content')
          //     .clone()
          //     .removeClass('hidden')[0],
          //   duration: -1,
          //   newWindow: true,
          //   close: true,
          //   gravity: 'top',
          //   position: 'right',
          //   stopOnFocus: true
          // }).showToast()

          // Redirect to login page
          // this.$router.push('/dashboard').catch((msg) => console.log(msg))
        } else {
          // this.message = response.msg.username[0]
          this.message = response.error
          this.loading = false
          // this.message = response.msg.email[0]
          // this.successful = true
          this.loading = false
        }
      })
    }
  }
})
</script>

<style scoped>
.xl\:mt-1 {
  margin-top: 10px;
}

.input-group .input-group-text {
  padding-top: 0rem;
  padding-bottom: 0rem;
  padding-left: 0rem;
  padding-right: 0rem;
}

select {
  text-transform: none;
  width: 120px;
  height: 45px;
}
</style>
