<template>

  <div class="">
    
    <TreatmentTable />
  </div>
</template>

<script>
import { defineComponent } from 'vue'
import TreatmentTable from "../treatments/TableTreatments.vue";
export default defineComponent({
  components: {
    TreatmentTable
  },
  data() {
    return {
    }
  },

  setup() {
    return {
    }
  },
  computed: {
  },
  created() {
  },
  mounted() {
  },
  methods: {
  }
})
</script>

<style scoped>

</style>
