<template>
  <div>
    <div class="">
      <div class="flex items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">Treatments</h2>
      </div>
      <div class="accordion accordion-boxed p-2" id="_60x3j7fnj">
        <div class="accordion-item">
          <div class="accordion-header" id="_5vf5vb0y1">
            <button
              class="accordion-button"
              type="button"
              aria-expanded="true"
              data-tw-toggle="collapse"
              data-tw-target="_jvr2otfqj"
              aria-controls="_jvr2otfqj"
            >
              <div class="flex px-2 py-3">
                <div class="w-auto flex-none flex items-center mr-5">
                  <div class="inbox__item--sender truncate">Treatment 1</div>
                </div>
                <div class="wtruncate hidden md:flex">
                  <span class="w-auto inbox__item--highlight">$12,500.00</span>
                </div>
                <div class="inbox__item--time whitespace-nowrap ml-auto pl-2">17th August 2022</div>
              </div>
            </button>
          </div>
          <div
            class="accordion-collapse collapse show"
            id="_jvr2otfqj"
            aria-labelledby="_5vf5vb0y1"
            data-tw-parent="_60x3j7fnj"
            style="display: block;"
          >
            <div class="accordion-body text-slate-600 dark:text-slate-500 leading-relaxed">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
                <line x1="1" y1="10" x2="23" y2="10" />
              </svg> Total Price :
              <div class="ml-auto">$12,500.00</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                <line x1="16" y1="2" x2="16" y2="6" />
                <line x1="8" y1="2" x2="8" y2="6" />
                <line x1="3" y1="10" x2="21" y2="10" />
              </svg>Treatment Date:
              <div class="ml-auto">24 March 2022</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <circle cx="12" cy="12" r="10" />
                <polyline points="12 6 12 12 16 14" />
              </svg> Treatment Status:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Completed</span>
            </div>
<div class="flex items-center mt-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide w-4 h-4 text-slate-500 mr-2"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
             Doctor:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Kelly</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="_ufqwayodr">
            <button
              class="accordion-button collapsed"
              type="button"
              aria-expanded="false"
              data-tw-toggle="collapse"
              data-tw-target="_z8p7lkiud"
              aria-controls="_z8p7lkiud"
            >
              <div class="flex px-2 py-3">
                <div class="w-auto flex-none flex items-center mr-5">
                  <div class="inbox__item--sender truncate">Treatment 2</div>
                </div>
                <div class="wtruncate hidden md:flex">
                  <span class="w-auto inbox__item--highlight">$12,500.00</span>
                </div>
                <div class="inbox__item--time whitespace-nowrap ml-auto pl-2">17th August 2022</div>
              </div>
            </button>
          </div>
          <div
            class="accordion-collapse collapse"
            id="_z8p7lkiud"
            aria-labelledby="_ufqwayodr"
            data-tw-parent="_60x3j7fnj"
            style="display: none;"
          >
            <div class="accordion-body text-slate-600 dark:text-slate-500 leading-relaxed">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
                <line x1="1" y1="10" x2="23" y2="10" />
              </svg> Total Price :
              <div class="ml-auto">$12,500.00</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                <line x1="16" y1="2" x2="16" y2="6" />
                <line x1="8" y1="2" x2="8" y2="6" />
                <line x1="3" y1="10" x2="21" y2="10" />
              </svg>Treatment Date:
              <div class="ml-auto">24 March 2022</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <circle cx="12" cy="12" r="10" />
                <polyline points="12 6 12 12 16 14" />
              </svg> Treatment Status:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Completed</span>
            </div>
<div class="flex items-center mt-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide w-4 h-4 text-slate-500 mr-2"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
             Doctor:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Kelly</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="_tewfyxz9c">
            <button
              class="accordion-button collapsed"
              type="button"
              aria-expanded="false"
              data-tw-toggle="collapse"
              data-tw-target="_pw11zynuu"
              aria-controls="_pw11zynuu"
            >
              <div class="flex px-2 py-3">
                <div class="w-auto flex-none flex items-center mr-5">
                  <div class="inbox__item--sender truncate">Treatment 3</div>
                </div>
                <div class="wtruncate hidden md:flex">
                  <span class="w-auto inbox__item--highlight">$12,500.00</span>
                </div>
                <div class="inbox__item--time whitespace-nowrap ml-auto pl-2">17th August 2022</div>
              </div>
            </button>
          </div>
          <div
            class="accordion-collapse collapse"
            id="_pw11zynuu"
            aria-labelledby="_tewfyxz9c"
            data-tw-parent="_60x3j7fnj"
            style="display: none;"
          >
            <span class="inbox__item--sender truncate">Treatment</span>
           <div class="accordion-body text-slate-600 dark:text-slate-500 leading-relaxed">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
                <line x1="1" y1="10" x2="23" y2="10" />
              </svg> Total Price :
              <div class="ml-auto">$12,500.00</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                <line x1="16" y1="2" x2="16" y2="6" />
                <line x1="8" y1="2" x2="8" y2="6" />
                <line x1="3" y1="10" x2="21" y2="10" />
              </svg>Treatment Date:
              <div class="ml-auto">24 March 2022</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <circle cx="12" cy="12" r="10" />
                <polyline points="12 6 12 12 16 14" />
              </svg> Treatment Status:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Completed</span>
            </div>
<div class="flex items-center mt-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide w-4 h-4 text-slate-500 mr-2"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
             Doctor:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Kelly</span>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="_v1qty9qgz">
            <button
              class="accordion-button collapsed"
              type="button"
              aria-expanded="false"
              data-tw-toggle="collapse"
              data-tw-target="_wgbaw5rby"
              aria-controls="_wgbaw5rby"
            >
              <div class="flex px-2 py-3">
                <div class="w-auto flex-none flex items-center mr-5">
                  <div class="inbox__item--sender truncate">Treatment 4</div>
                </div>
                <div class="wtruncate hidden md:flex">
                  <span class="w-auto inbox__item--highlight">$12,500.00</span>
                </div>
                <div class="inbox__item--time whitespace-nowrap ml-auto pl-2">17th August 2022</div>
              </div>
            </button>
          </div>
          <div
            class="accordion-collapse collapse"
            id="_wgbaw5rby"
            aria-labelledby="_v1qty9qgz"
            data-tw-parent="_60x3j7fnj"
            style="display: none;"
          >
      <div class="accordion-body text-slate-600 dark:text-slate-500 leading-relaxed">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="1" y="4" width="22" height="16" rx="2" ry="2" />
                <line x1="1" y1="10" x2="23" y2="10" />
              </svg> Total Price :
              <div class="ml-auto">$12,500.00</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
                <line x1="16" y1="2" x2="16" y2="6" />
                <line x1="8" y1="2" x2="8" y2="6" />
                <line x1="3" y1="10" x2="21" y2="10" />
              </svg>Treatment Date:
              <div class="ml-auto">24 March 2022</div>
            </div>
            <div class="flex items-center mt-3">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide w-4 h-4 text-slate-500 mr-2"
              >
                <circle cx="12" cy="12" r="10" />
                <polyline points="12 6 12 12 16 14" />
              </svg> Treatment Status:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Completed</span>
            </div>
<div class="flex items-center mt-3">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide w-4 h-4 text-slate-500 mr-2"
            >
              <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2" />
              <circle cx="12" cy="7" r="4" />
            </svg>
             Doctor:
              <span
                class="bg-success/20 text-success rounded px-2 ml-auto"
              >Kelly</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent, toRaw } from 'vue'
import axios from 'axios'
import moment from 'moment'
import Toastify from 'toastify-js'
import Payment from '@/components/payments/Pay.vue'

import $ from 'jquery'

export default defineComponent({
  components: {
    Payment
  },
  props: ['toothId'],
  data() {
    return {
      loading: false,
      client_treatment: [],
      client_treatments_all: [],
      missingStatus: ''
    }
  },
  setup() {},
  computed: {
    currentUser() {
      // console.log(toRaw(this.$store.state.auth.user))
      return toRaw(this.$store.state.auth.user)
    }
  },
  watch: {},
  methods: {
    moment,

    // Converting Date in table
    formatDate(value) {
      if (value) {
        return moment(String(value)).format('MM/DD/YYYY')
      }
    },

    // Getting All transactions
    getTreatment() {
      this.loading = true
      const token = localStorage.getItem('token')
      const toothID = this.$route.params.toothId
      const userId = localStorage.getItem('userID')
      const missing = 'missing'

      const data = {
        patientId: userId
      }
      axios
        .post('v1/donetreatments/get_done_treatments_by_patient_side', data, {
          headers: {
            Authorization: 'Bearer ' + token,

            'Content-Type': 'application/json',
            'X-Requested-With': 'XMLHttpRequest'
          }
        })
        .then(res => {
          this.loading = false
          // Object.assign(this.client_treatment, res.data.payload)
          this.client_treatments_all = res.data.payload[0]
          const client_treatments = this.client_treatments_all.tooth_sections

          //      this.client_treatment  = client_treatments.filter(
          //   element => element.id === id
          // )[0]
          console.log('section client_treatments', typeof client_treatments)
          const sections = JSON.parse(client_treatments)
          this.client_treatment = sections[`${toothID}`]
          this.missingStatus = sections.missing
          console.log(
            'this.missingStatus',
            JSON.parse(client_treatments).missing
          )

          if (res.data.success === false) {
            console.log('expired session')
            this.$store.dispatch('auth/logout')
            this.$router.push('/login')
          }
        })
        // .catch(err => console.log(err))
        .catch(function(err) {
          const errorCode = err.response.status
          if (errorCode === 401) {
            console.log('expired session')
            localStorage.removeItem('user')
            localStorage.removeItem('token')
            this.$router.go('/login')
          } else {
            // Handle else
          }
        })
    }
  },
  created() {
    // this.getTreatment()
  },
  mounted() {
    this.getTreatment()
  }
})
</script>
<style lang="scss">
.accordion.accordion-boxed .accordion-item {
  border-width: 2px;
  border-radius: 15px;
  border-color: #5f5d5d !important;
}

</style>