
<template>
  <div>
    <div
      id="static-backdrop-modal-preview"
      class="modal"
      data-backdrop="static"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content">
          <a data-dismiss="modal">
            <i data-feather="X" class="w-8 h-8 text-gray-500"></i>
          </a>

          <div class="modal-body p-10">
            <div class="intro-y flex items-center mt-8">
              <h2 class="text-lg font-medium mr-auto">
                {{ $t('translation.scheduling_assistant_text') }}
              </h2>
            </div>
            <div class="grid grid-cols-12 gap-6 mt-5">
              <div class="intro-y col-span-12 lg:col-span-12">
                <!-- BEGIN: Form Layout -->
                <form
                  class="validate-form"
                  @submit.prevent="handleSubmit"
                  autocomplete="off"
                >
                  <div class="intro-y box">
                    <!-- appointment table -->
                    <div class="p-5">
                      <div class="box">
                        <div class="col-span-12 xl:col-span-6">
                          <!-- appointment_type -->
                          <div class="mt-3">
                            <label
                              for="update-profile-form-12"
                              class="form-label font-semibold"
                            >
                              {{
                                $t('translation.select_appointment_type_text')
                              }}
                              <span class="text-theme-6">*</span>
                            </label>

                            <TomSelect
                              v-model="selected_appointment_type"
                              class="w-full"
                              @change="onchange"
                              id="appointment_type_select"
                            >
                              <option value>
                                {{
                                  $t('translation.select_appointment_type_text')
                                }}
                              </option>
                              <option
                                v-for="(
                                  appointment_type, name
                                ) in appointment_type"
                                :key="name"
                                :value="appointment_type.id"
                              >
                                {{ appointment_type.title }}
                              </option>
                            </TomSelect>
                            <template
                              v-if="validate.selected_appointment_type.$error"
                            >
                              <div
                                v-for="(error, index) in validate
                                  .selected_appointment_type.$errors"
                                :key="index"
                                class="text-theme-6 mt-2"
                              >
                                {{ error.$message }}
                              </div>
                            </template>
                          </div>

                          <!-- date -->
                          <div class="mt-3">
                            <label
                              for="update-profile-form-12"
                              class="form-label font-semibold"
                            >
                              {{ $t('translation.select_date_text') }}
                              <span class="text-theme-6">*</span>
                            </label>

                            <Litepicker
                              id="date_input"
                              v-model="appointment_date"
                              placeholder="Appointment date*"
                              disabled
                              name="appointment_date"
                              :options="{
                                autoApply: true,
                                showWeekNumbers: false,
                                minDate: moment(),
                                maxDate: endDate,
                                disallowLockDaysInRange: true,
                                scrollToDate: true,
                                highlightedDays: highlightedRange,
                                lockDays: dateRange,
                                lockDaysFilter: (date1, date2, pickedDates) => {
                                  return dateRange.includes(
                                    date1.format('YYYY-MM-DD')
                                  )
                                },
                                setup: (picker) => {
                                  picker.on('render:day', (day, date) => {
                                    if (date.toJSDate() < today) {
                                      day.classList.add('bg-theme-36')
                                    }
                                  })

                                  if (picker.options.inlineMode) {
                                    picker.render()
                                  }
                                },
                                dropdowns: {
                                  minYear: moment(this.startDate).years(),
                                  maxYear: moment(this.endDate).years(),
                                  months: true,
                                  years: true
                                }
                              }"
                              class="w-full intro-x form-control bg-gray-100 py-3 px-4 block border-gray-200 focus:border-gray-500"
                              style="box-shadow: 0px 3px 5px #00000007"
                            />

                            <template v-if="validate.appointment_date.$error">
                              <div
                                v-for="(error, index) in validate
                                  .appointment_date.$errors"
                                :key="index"
                                class="text-theme-6 mt-2"
                              >
                                {{ error.$message }}
                              </div>
                            </template>
                          </div>

                          <!-- time -->
                          <div class="mt-3">
                            <label
                              for="update-profile-form-12"
                              class="form-label font-semibold"
                            >
                              {{ $t('translation.select_time_text') }}
                              <span class="text-theme-6">*</span>
                            </label>
                            <span
                              v-if="loadingSlotsdash"
                              class="flex flex-col w-full col-span-12 sm:w-auto items-center mt-10"
                            >
                              <LoadingIcon icon="oval" class="w-10 h-10" />

                              <span
                                >{{
                                  $t('translation.loading_slots_text')
                                }}...</span
                              >
                              <!-- <span>We are loading your Appointments...</span> -->
                            </span>

                            <!-- <span v-if="!loadingSlotsdash && timeSlotsArray?.length==0"> No free slots, select another day</span>         -->
                            <p
                              v-if="!loadingSlotsdash"
                              class="form-control text-xs px-1 border text-slate-600 dark:border-darkmode-100/40 dark:text-slate-300 mr-1 font-semibold"
                            >
                              {{ newStartTime }}-{{ newEndTime }}
                            </p>
                            <br />
                            <div
                              class="flex space-x-2 space-y-2 flex-wrap justify-center items-baseline"
                              v-for="(slot, index) in timeSlotsArray"
                              :key="index"
                              style="display: inline"
                            >
                              <button
                                type="button"
                                class="btn btn-outline-dark w-auto inline-block mr-1 mb-2 text-gray-900 dark:text-white"
                                id="button-slot"
                              >
                                <label
                                  @click="chooseSlot(slot)"
                                  v-on:click="bg - black"
                                  class="text-gray-900 dark:text-white"
                                  >{{ slot.start_time }} -
                                  {{ slot.end_time }}</label
                                >
                              </button>
                            </div>
                            <template v-if="validate.startTime.$error">
                              <div
                                v-for="(error, index) in validate.startTime
                                  .$errors"
                                :key="index"
                                class="text-theme-6 mt-2"
                              >
                                {{ error.$message }}
                              </div>
                            </template>
                          </div>
                          <!-- comment -->

                          <div class="mt-3">
                            <label class="form-label font-semibold">
                              {{ $t('translation.comment_text') }}</label
                            >
                            <!-- <ClassicEditor v-model="comment" /> -->
                            <textarea
                              id="comment-text-area"
                              v-model="comment"
                              class="login__input form-control py-3 px-4 block mt-4 border-gray-200 focus:border-theme-36 focus:ring-0"
                              name="comment"
                              :placeholder="`${$t(
                                'translation.enter_comment_text'
                              )}`"
                            ></textarea>
                          </div>

                          <!--  -->
                        </div>
                      </div>
                      <!-- Notification Alert Start -->
                      <div
                        id="basic-non-sticky-notification-content"
                        class="toastify-content hidden flex"
                      >
                        <CheckCircleIcon class="text-theme-9" />
                        <div class="ml-4 mr-4">
                          <div class="font-medium notification-message"></div>
                        </div>
                      </div>
                      <!-- Notification Alert End -->

                      <!-- END: Validation Form -->

                      <!-- BEGIN: Success Notification Content -->
                      <div
                        id="success-notification-content"
                        class="toastify-content hidden flex"
                      >
                        <CheckCircleIcon class="text-theme-9" />
                        <div class="ml-4 mr-4">
                          <!-- <div class="font-medium">Appointment has been Successfully created</div> -->
                          <div class="font-medium">{{ successMessage }}</div>
                        </div>
                      </div>
                      <!-- END: Success Notification Content -->

                      <!-- BEGIN: Failed Notification Content -->
                      <div
                        id="failed-notification-content"
                        class="toastify-content hidden flex"
                      >
                        <XCircleIcon class="text-theme-6" />
                        <div class="ml-4 mr-4">
                          <div class="font-medium">
                            Appointment Creation Failed
                          </div>
                          <div class="text-gray-600 mt-1">
                            Review your form and fill all fields
                          </div>
                        </div>
                      </div>

                      <div
                        class="container mx-auto justify-center mt-4"
                        style="
                          display: flex;
                          align-items: center;
                          text-align: center;
                        "
                      >
                        <div
                          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6"
                        >
                          <button
                            style="background-color: #ff2400"
                            type="reset"
                            data-dismiss="modal"
                            class="btn closeBTN btn-danger w-40 mr-auto text-gray-900 bg-theme-43"
                          >
                            <p class="text-white">
                              {{ $t('translation.cancel_text') }}
                            </p>
                          </button>

                          <button
                            type="reset"
                            class="btn clearBTN btn-warning w-40 mr-auto text-gray-900"
                            style="display: none"
                          >
                            {{ $t('translation.clear_text') }}
                          </button>
                          <button
                            type="submit"
                            class="btn bg-theme-32 w-40 mr-auto text-white"
                          >
                            <LoadingIcon
                              v-if="loading"
                              icon="spinning-circles"
                              color="white"
                              class="w-4 h-4 ml-2"
                            />
                            <p data-dismiss="modal" class="text-white" v-else>
                              <span>{{ $t('translation.save_text') }}</span>
                            </p>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <!-- END: Form Layout -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END: Super Large Modal Content -->
</template>

<script>
import { defineComponent, toRaw, reactive, toRefs, inject } from 'vue'
import Toastify from 'toastify-js'
import moment from 'moment'

// Validations
import { required, maxValue, minValue } from '@vuelidate/validators'
import { useVuelidate } from '@vuelidate/core'
import AppointmentsService from '../../service/appointments-service'
import { useI18n } from 'vue-i18n'
export default defineComponent({
  components: {},

  data() {
    // Basic non sticky notification
    const basicNonStickyNotificationToggle = () => {
      Toastify({
        node: cash('#basic-non-sticky-notification-content')
          .clone()
          .removeClass('hidden')[0],
        duration: 3000,
        newWindow: true,
        close: true,
        gravity: 'top',
        position: 'right',
        stopOnFocus: true
      }).showToast()
    }

    const formData = reactive({
      // loan_product_id: '',
      selected_appointment_type: '',
      // monthly_income: '',
      appointment_date: '',
      comment: '',
      startTime: ''
    })
    const rules = {
      selected_appointment_type: {
        required
      },
      appointment_date: {
        required
      },
      comment: {},
      startTime: { required }
    }
    const validate = useVuelidate(rules, toRefs(formData))

    const handleSubmit = () => {
      this.formData.selected_appointment_type = this.selected_appointment_type
      this.formData.appointment_date = moment(this.appointment_date).format(
        'YYYY-MM-DD'
      )
      this.formData.startTime = this.newStartTime
      validate.value.$touch()
      if (validate.value.$invalid) {
        Toastify({
          node: cash('#failed-notification-content')
            .clone()
            .removeClass('hidden')[0],
          duration: 3000,
          newWindow: true,
          close: true,
          gravity: 'top',
          position: 'right',
          stopOnFocus: true
        }).showToast()
      } else {
        // const token = localStorage.getItem('token')
        this.loading = true

        // We will handle form submission here
        const data = {
          statusId: 2,
          sourceId: 2,
          periodId: 3,
          appointmentTypeId: this.formData.selected_appointment_type,
          doctors: [],
          date: this.formData.appointment_date,
          frequencyId: 1,
          interval: this.timeInterval,
          comments: this.comment,
          facility_id: 1,
          // data.append('slots', this.selectedSlot)
          slots: [
            {
              'start-time': this.formData.startTime,

              'end-time': this.newEndTime
            }
          ]
        }
        try {
          AppointmentsService.createAppointments(data)
            .then((response) => {
              const notification = document.querySelector(
                '.toastify-content .notification-message'
              )
              if (response.status == true) {
                this.loading = false
                this.successMessage = response.message

                Toastify({
                  node: cash('#success-notification-content')
                    .clone()
                    .removeClass('hidden')[0],
                  duration: 3000,
                  newWindow: true,
                  close: true,
                  gravity: 'top',
                  position: 'right',
                  stopOnFocus: true
                }).showToast()

                // router.push('/dashboard/viewappointments')
                document.querySelector('.closeBTN').click()

                //   this.$router.go({
                //   name: 'side-menu-view-appointments'
                // })
                // router.push({
                //     name: "side-menu-view-appointments",
                //   });
              } else {
                this.loading = false
                notification.textContent = 'Appointment Creation Failed'
              }
              this.basicNonStickyNotificationToggle()
              console.log('response', response)
              // this.$router.push({
              //   name: 'side-menu-view-appointments'
              // })
            })
            .catch((error) => {
              console.log('Error', error)
            })
        } catch (err) {
          console.log('error: ', err)
        }
      }
    }

    return {
      loadingSlotsdash: false,
      successMessage: this.t(
        'translation.appointment_created_successfully_text'
      ),
      // successMessage:"Appointment Created Successfully",
      selected_appointment_type: '',
      appointment_type: '',
      appointmentData: '',
      startDate: moment(),
      endDate: moment().add(10, 'days'),
      startTime: '',
      endTime: '',
      dateRange: '',
      comment: '',
      appointment_date: '',
      timeSlotsArray: '',
      timeInterval: '',
      selectedSlot: '',
      newStartTime: '',
      newEndTime: '',
      highlightedRange: '',

      handleSubmit,
      formData,
      validate,
      loading: false,
      basicNonStickyNotificationToggle,
      search_term: '',
      sortBy: 1,

      pageSize: 20,
      currentPage: 1,
      printLoading: true,
      selectedButton: []
    }
  },
  mounted() {
    this.getAppointmentTypes()
  },
  created() {
    this.getAppointmentTypes()
  },
  props: ['endDate'],

  computed: {
    currentUser() {
      return toRaw(this.$store.state.auth.user)
    }
  },
  methods: {
    moment,

    getSlots() {
      this.loadingSlotsdash = true
      const facilityId = this.currentUser.facility_id
      const token = localStorage.getItem('token')
      const data = {
        appointmentTypeId: this.selected_appointment_type,
        date: moment(this.appointment_date).format('DD-MM-YYYY'),
        facilityId: facilityId
      }
      const url = 'patients/appointments/free-slots'
      try {
        AppointmentsService.getFreeSlots(url, data)
          .then((response) => {
            this.loadingSlotsdash = false
            console.log('new response checkkkk slots', response?.data?.error)
            this.timeSlotsArray = response.data
            console.log('new slots', this.timeSlotsArray)
          })
          .catch((error) => {
            this.loadingSlots = false
            console.log('Error', error)
          })
      } catch (err) {
        console.log('error: ', err)
      }
    },
    onchange(id) {
      console.log('changed', this.startDate)
      this.appointmentData = this.appointment_type.filter(
        (selectedType) => selectedType.id == this.selected_appointment_type
      )[0]
      Object.assign(
        this.appointmentData,
        this.appointment_type.filter(
          (selectedType) => selectedType.id == this.selected_appointment_type
        )[0]
      )
      Object.assign(this.timeInterval, this.appointmentData.agenda_interval)
      Object.assign(
        this.startDate,
        moment(this.appointmentData.start_date, 'DD-MM-YYYY')
      )
      Object.assign(
        this.endDate,
        moment(this.appointmentData.end_date, 'DD-MM-YYYY')
      )
      document.getElementById('date_input').disabled = false
      // this.startDate = moment(this.appointmentData.start_date).format('MMMM d, YYYY')
      // this.endDate = moment(this.appointmentData.end_date).format('MMMM d, YYYY')
      this.startTime = this.appointmentData.start_time
      this.endTime = this.appointmentData.end_time
      this.timeInterval = this.appointmentData.agenda_interval
      // this.appointment_date = moment(
      //   this.appointmentData.start_date,
      //   'DD-MM-YYYY'
      // ).format('DD MMM, YYYY')

      // Returns an array of dates between the two dates
      function getDates(startDate, endDate) {
        const dates = []
        // console.log('startDate inside', startDate)
        let currentDate = startDate
        const addDays = function (days) {
          const date = new Date(this.valueOf())
          //  const formatedDate = moment(date).format('DD-MM-YYYY')
          date.setDate(date.getDate() + days)
          // date.setDate(date.getDate() + days)
          // const formatedDate = moment(date).format('DD-MM-YYYY')
          return date
        }
        while (currentDate <= endDate) {
          dates.push(moment(currentDate, 'DD-MM-YYYY').format('YYYY-MM-DD'))
          currentDate = addDays.call(currentDate, 1)
        }
        // this.dateRange = dates
        return dates
      }
      const date1 = moment(this.startDate, 'DD-MM-YYYY')
      const date2 = moment(this.endDate, 'DD-MM-YYYY')
      // Usage
      // this.dateRange console.log('middle', startDate,endDate)
      // console.log('datebetween start,end', date1, date2)
      const d = new Date()
      const yesterday = d.setDate(d.getDate() - 1)
      const dates = getDates(this.startDate, yesterday)
      dates.forEach(function (date) {
        // console.log('datebetween', date)
      })
      //
      this.dateRange = dates
      const str = dates.toString()
      const highlightedRange1 = JSON.stringify(dates).replaceAll(`"`, `'`)
      this.highlightedRange = dates
      //  const highlightedRange3 = JSON.stringify(dates).replaceAll(`"`, `'`);
      const highlightedRange3 = dates.toString().replaceAll(`"`, `'`)
      console.log('this.highlightedRange ', this.highlightedRange)

      this.highlightedRange = highlightedRange3
      this.getSlots()
      // time slots
      const getTimeStops = (start, end) => {
        // var startTime = moment(new Date(), 'HH:mm')
        var startTime = moment(start, 'HH:mm')
        var endTime = moment(end, 'HH:mm')
        var interval = parseInt(this.timeInterval)
        // var interval = parseInt(10);
        if (endTime.isBefore(startTime)) {
          endTime.add(1, 'day')
        }

        var timeStops = []

        // while (startTime <= endTime) {
        //   timeStops.push(new moment(startTime).format('HH:mm'))
        //   startTime.add(interval, 'minutes')
        // }
        for (let i = 0; ; i++) {
          if (startTime.diff(endTime) >= 0) {
            break
          }
          let prevTime = startTime
          let newTime = moment(startTime, 'HH:mm').add(interval, 'minutes')
          timeStops.push({
            startTime: prevTime.format('HH:mm'),
            endTime: newTime.format('HH:mm')
          })
          console.log({
            'start-time': prevTime.format('HH:mm'),
            endTime: newTime.format('HH:mm')
          })
          startTime = newTime
        }
        return timeStops
      }

      // var timeStops = getTimeStops('11:00', '02:00')
      // console.log('timeStops 1', timeStops);
      // timeStops = getTimeStops('11:00', '23:59')
      this.startTime, this.endTime
      // this.timeSlotsArray = getTimeStops(this.startTime, this.endTime)
      // console.log(
      //   'time start, end, interval',
      //   this.startTime,
      //   this.endTime,
      //   this.timeInterval
      // )
      console.log('timeslots', this.timeSlotsArray)
    },
    // selected slot
    chooseSlot(slot) {
      console.log('Slot', slot)

      Object.assign(this.selectedSlot, slot)
      this.selectedSlot = slot
      this.newStartTime = slot.start_time
      this.newEndTime = slot.end_time
      // this.newStartTime = slot.startTime
      // this.newEndTime = slot.endTime
      console.log(
        'this.newStartTime, this.newEndTime',
        this.newStartTime,
        this.newEndTime
      )
    },

    // Getting All types
    getAppointmentTypes() {
      this.loading = false
      const url = 'patients/appointments/types'
      const data = {}
      try {
        AppointmentsService.getAppointmentTypes(url, data)
          .then((res) => {
            console.log('types res', res)
            this.appointment_type = res.data
          })
          .catch((err) => console.log(err))
      } catch (err) {
        console.log('error: ', err)
      }
    }
  },
  watch: {
    appointment_date: {
      handler(newDate, oldDate) {
        console.log('new date', newDate)
        this.getSlots()
      },
      deep: true
    },

    successMessage(newmessage, oldmessage) {
      console.log('watched successMessage', newmessage)
      this.$nextTick(() => {
        this.successMessage = newmessage
      })
    }
  },
  setup() {
    const { t } = useI18n({})

    return {
      t
    }
  }
})
</script>
<style lang="scss"></style>

