<template>
  <div
    id="update-info-modal"
    class="modal col-span-12 lg:col-span-8 2xl:col-span-9"
    tabindex="-1"
    aria-hidden="true"
  >
    <div class="intro-y flex items-center mt-8">
      <h2 class="text-lg font-medium mr-auto">Update Personal Information</h2>
    </div>
    <div class="grid grid-cols-12 gap-6">
      <div class="col-span-12 lg:col-span-8 2xl:col-span-9">
        <!-- BEGIN: Display Information -->
        <div class="intro-y box lg:mt-5">
          <div class="flex items-center p-5 border-b border-gray-200 dark:border-dark-5">
            <h2 class="font-medium text-base mr-auto">Update Profile Information</h2>
            {{ currentUser.email }}
          </div>

          <div class="p-5">
            <form
              class="validate-form"
              @submit.prevent="updateProfile"
              autocomplete="off"
            >
              <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y col-span-12 sm:col-span-6">
                  <label for="input-wizard-1" class="form-label">First Name</label
                  ><input
                    id="input-wizard-1"
                    type="text"
                    class="form-control"
                    placeholder="Enter First Name"
                    name="first_name"
                    v-model.trim="validate.first_name.$model"
                    :class="{
                      'border-theme-6': validate.first_name.$error,
                    }"
                  />
                  <template v-if="validate.first_name.$error">
                    <div
                      v-for="(error, index) in validate.first_name.$errors"
                      :key="index"
                      class="text-theme-6 mt-2"
                    >
                      {{ error.$message }}
                    </div>
                  </template>
                </div>
                <div class="intro-y col-span-12 sm:col-span-6">
                  <label for="input-wizard-2" class="form-label">Last Name</label
                  ><input
                    id="input-wizard-2"
                    type="text"
                    class="form-control"
                    name="last_name"
                    placeholder="Enter Last Name"
                    v-model.trim="validate.last_name.$model"
                    :class="{
                      'border-theme-6': validate.last_name.$error,
                    }"
                  />
                  <template v-if="validate.last_name.$error">
                    <div
                      v-for="(error, index) in validate.last_name.$errors"
                      :key="index"
                      class="text-theme-6 mt-2"
                    >
                      {{ error.$message }}
                    </div>
                  </template>
                </div>
                <div class="intro-y col-span-12 sm:col-span-6">
                  <label for="input-wizard-3" class="form-label">Address</label
                  ><input
                    id="input-wizard-3"
                    type="text"
                    class="form-control"
                    placeholder="Enter address"
                    name="homeAddress"
                    v-model.trim="validate.homeAddress.$model"
                    :class="{
                      'border-theme-6': validate.homeAddress.$error,
                    }"
                  />
                  <template v-if="validate.homeAddress.$error">
                    <div
                      v-for="(error, index) in validate.homeAddress.$errors"
                      :key="index"
                      class="text-theme-6 mt-2"
                    >
                      {{ error.$message }}
                    </div>
                  </template>
                </div>
                <div class="intro-y col-span-12 sm:col-span-6">
                  <label for="input-wizard-4" class="form-label">Contact</label>
                  <div class="input-group">
                    <div id="input-group-email" class="w-full">
                      <TomSelect class="w-auto" as="select" name="country" id="country">
                        <!-- All countries -->
                        <option value="93">Afghanistan +93</option>
                        <option value="358">Aland Islands +358</option>
                        <option value="355">Albania +355</option>
                        <option value="213">Algeria +213</option>
                        <option value="1684">American Samoa +1684</option>
                        <option value="376">Andorra +376</option>
                        <option value="244">Angola +244</option>
                        <option value="1264">Anguilla +1264</option>
                        <option value="672">Antarctica +672</option>
                        <option value="1268">Antigua and Barbuda +1268</option>
                        <option value="54">Argentina +54</option>
                        <option value="374">Armenia +374</option>
                        <option value="297">Aruba +297</option>
                        <option value="61">Australia +61</option>
                        <option value="43">Austria +43</option>
                        <option value="994">Azerbaijan +994</option>
                        <option value="1242">Bahamas +1242</option>
                        <option value="973">Bahrain +973</option>
                        <option value="880">Bangladesh +880</option>
                        <option value="1246">Barbados +1246</option>
                        <option value="375">Belarus +375</option>
                        <option value="32">Belgium +32</option>
                        <option value="501">Belize +501</option>
                        <option value="229">Benin +229</option>
                        <option value="1441">Bermuda +1441</option>
                        <option value="975">Bhutan +975</option>
                        <option value="591">Bolivia +591</option>
                        <option value="599">Bonaire, Sint Eustatius and Saba +599</option>
                        <option value="387">Bosnia and Herzegovina +387</option>
                        <option value="267">Botswana +267</option>
                        <option value="55">Bouvet Island +55</option>
                        <option value="55">Brazil +55</option>
                        <option value="246">British Indian Ocean Territory +246</option>
                        <option value="673">Brunei Darussalam +673</option>
                        <option value="359">Bulgaria +359</option>
                        <option value="226">Burkina Faso +226</option>
                        <option value="257">Burundi +257</option>
                        <option value="855">Cambodia +855</option>
                        <option value="237">Cameroon +237</option>
                        <option value="1">Canada +1</option>
                        <option value="238">Cape Verde +238</option>
                        <option value="1345">Cayman Islands +1345</option>
                        <option value="236">Central African Republic +236</option>
                        <option value="235">Chad +235</option>
                        <option value="56">Chile +56</option>
                        <option value="86">China +86</option>
                        <option value="61">Christmas Island +61</option>
                        <option value="672">Cocos (Keeling) Islands +672</option>
                        <option value="57">Colombia +57</option>
                        <option value="269">Comoros +269</option>
                        <option value="242">Congo +242</option>
                        <option value="242">
                          Congo, Democratic Republic of the Congo +242
                        </option>
                        <option value="682">Cook Islands +682</option>
                        <option value="506">Costa Rica +506</option>
                        <option value="225">Cote D'Ivoire +225</option>
                        <option value="385">Croatia +385</option>
                        <option value="53">Cuba +53</option>
                        <option value="599">Curacao +599</option>
                        <option value="357">Cyprus +357</option>
                        <option value="420">Czech Republic +420</option>
                        <option value="45">Denmark +45</option>
                        <option value="253">Djibouti +253</option>
                        <option value="1767">Dominica +1767</option>
                        <option value="1809">Dominican Republic +1809</option>
                        <option value="593">Ecuador +593</option>
                        <option value="20">Egypt +20</option>
                        <option value="503">El Salvador +503</option>
                        <option value="240">Equatorial Guinea +240</option>
                        <option value="291">Eritrea +291</option>
                        <option value="372">Estonia +372</option>
                        <option value="251">Ethiopia +251</option>
                        <option value="500">Falkland Islands (Malvinas) +500</option>
                        <option value="298">Faroe Islands +298</option>
                        <option value="679">Fiji +679</option>
                        <option value="358">Finland +358</option>
                        <option value="33">France +33</option>
                        <option value="594">French Guiana +594</option>
                        <option value="689">French Polynesia +689</option>
                        <option value="262">French Southern Territories +262</option>
                        <option value="241">Gabon +241</option>
                        <option value="220">Gambia +220</option>
                        <option value="995">Georgia +995</option>
                        <option value="49">Germany +49</option>
                        <option value="233">Ghana +233</option>
                        <option value="350">Gibraltar +350</option>
                        <option value="30">Greece +30</option>
                        <option value="299">Greenland +299</option>
                        <option value="1473">Grenada +1473</option>
                        <option value="590">Guadeloupe +590</option>
                        <option value="1671">Guam +1671</option>
                        <option value="502">Guatemala +502</option>
                        <option value="44">Guernsey +44</option>
                        <option value="224">Guinea +224</option>
                        <option value="245">Guinea-Bissau +245</option>
                        <option value="592">Guyana +592</option>
                        <option value="509">Haiti +509</option>
                        <option value="0">Heard Island and Mcdonald Islands +0</option>
                        <option value="39">Holy See (Vatican City State) +39</option>
                        <option value="504">Honduras +504</option>
                        <option value="852">Hong Kong +852</option>
                        <option value="36">Hungary +36</option>
                        <option value="354">Iceland +354</option>
                        <option value="91">India +91</option>
                        <option value="62">Indonesia +62</option>
                        <option value="98">Iran, Islamic Republic of +98</option>
                        <option value="964">Iraq +964</option>
                        <option value="353">Ireland +353</option>
                        <option value="44">Isle of Man +44</option>
                        <option value="972">Israel +972</option>
                        <option value="39">Italy +39</option>
                        <option value="1876">Jamaica +1876</option>
                        <option value="81">Japan +81</option>
                        <option value="44">Jersey +44</option>
                        <option value="962">Jordan +962</option>
                        <option value="7">Kazakhstan +7</option>
                        <option value="254">Kenya +254</option>
                        <option value="686">Kiribati +686</option>
                        <option value="850">
                          Korea, Democratic People's Republic of +850
                        </option>
                        <option value="82">Korea, Republic of +82</option>
                        <option value="381">Kosovo +381</option>
                        <option value="965">Kuwait +965</option>
                        <option value="996">Kyrgyzstan +996</option>
                        <option value="856">Lao People's Democratic Republic +856</option>
                        <option value="371">Latvia +371</option>
                        <option value="961">Lebanon +961</option>
                        <option value="266">Lesotho +266</option>
                        <option value="231">Liberia +231</option>
                        <option value="218">Libyan Arab Jamahiriya +218</option>
                        <option value="423">Liechtenstein +423</option>
                        <option value="370">Lithuania +370</option>
                        <option value="352">Luxembourg +352</option>
                        <option value="853">Macao +853</option>
                        <option value="389">
                          Macedonia, the Former Yugoslav Republic of +389
                        </option>
                        <option value="261">Madagascar +261</option>
                        <option value="265">Malawi +265</option>
                        <option value="60">Malaysia +60</option>
                        <option value="960">Maldives +960</option>
                        <option value="223">Mali +223</option>
                        <option value="356">Malta +356</option>
                        <option value="692">Marshall Islands +692</option>
                        <option value="596">Martinique +596</option>
                        <option value="222">Mauritania +222</option>
                        <option value="230">Mauritius +230</option>
                        <option value="269">Mayotte +269</option>
                        <option value="52">Mexico +52</option>
                        <option value="691">Micronesia, Federated States of +691</option>
                        <option value="373">Moldova, Republic of +373</option>
                        <option value="377">Monaco +377</option>
                        <option value="976">Mongolia +976</option>
                        <option value="382">Montenegro +382</option>
                        <option value="1664">Montserrat +1664</option>
                        <option value="212">Morocco +212</option>
                        <option value="258">Mozambique +258</option>
                        <option value="95">Myanmar +95</option>
                        <option value="264">Namibia +264</option>
                        <option value="674">Nauru +674</option>
                        <option value="977">Nepal +977</option>
                        <option value="31">Netherlands +31</option>
                        <option value="599">Netherlands Antilles +599</option>
                        <option value="687">New Caledonia +687</option>
                        <option value="64">New Zealand +64</option>
                        <option value="505">Nicaragua +505</option>
                        <option value="227">Niger +227</option>
                        <option value="234">Nigeria +234</option>
                        <option value="683">Niue +683</option>
                        <option value="672">Norfolk Island +672</option>
                        <option value="1670">Northern Mariana Islands +1670</option>
                        <option value="47">Norway +47</option>
                        <option value="968">Oman +968</option>
                        <option value="92">Pakistan +92</option>
                        <option value="680">Palau +680</option>
                        <option value="970">Palestinian Territory, Occupied +970</option>
                        <option value="507">Panama +507</option>
                        <option value="675">Papua New Guinea +675</option>
                        <option value="595">Paraguay +595</option>
                        <option value="51">Peru +51</option>
                        <option value="63">Philippines +63</option>
                        <option value="64">Pitcairn +64</option>
                        <option value="48">Poland +48</option>
                        <option value="351">Portugal +351</option>
                        <option value="1787">Puerto Rico +1787</option>
                        <option value="974">Qatar +974</option>
                        <option value="262">Reunion +262</option>
                        <option value="40">Romania +40</option>
                        <option value="70">Russian Federation +70</option>
                        <option value="250">Rwanda +250</option>
                        <option value="590">Saint Barthelemy +590</option>
                        <option value="290">Saint Helena +290</option>
                        <option value="1869">Saint Kitts and Nevis +1869</option>
                        <option value="1758">Saint Lucia +1758</option>
                        <option value="590">Saint Martin +590</option>
                        <option value="508">Saint Pierre and Miquelon +508</option>
                        <option value="1784">
                          Saint Vincent and the Grenadines +1784
                        </option>
                        <option value="684">Samoa +684</option>
                        <option value="378">San Marino +378</option>
                        <option value="239">Sao Tome and Principe +239</option>
                        <option value="966">Saudi Arabia +966</option>
                        <option value="221">Senegal +221</option>
                        <option value="381">Serbia +381</option>
                        <option value="381">Serbia and Montenegro +381</option>
                        <option value="248">Seychelles +248</option>
                        <option value="232">Sierra Leone +232</option>
                        <option value="65">Singapore +65</option>
                        <option value="1">Sint Maarten +1</option>
                        <option value="421">Slovakia +421</option>
                        <option value="386">Slovenia +386</option>
                        <option value="677">Solomon Islands +677</option>
                        <option value="252">Somalia +252</option>
                        <option value="27">South Africa +27</option>
                        <option value="500">
                          South Georgia and the South Sandwich Islands +500
                        </option>
                        <option value="211">South Sudan +211</option>
                        <option value="34">Spain +34</option>
                        <option value="94">Sri Lanka +94</option>
                        <option value="249">Sudan +249</option>
                        <option value="597">Suriname +597</option>
                        <option value="47">Svalbard and Jan Mayen +47</option>
                        <option value="268">Swaziland +268</option>
                        <option value="46">Sweden +46</option>
                        <option value="41">Switzerland +41</option>
                        <option value="963">Syrian Arab Republic +963</option>
                        <option value="886">Taiwan, Province of China +886</option>
                        <option value="992">Tajikistan +992</option>
                        <option value="255">Tanzania, United Republic of +255</option>
                        <option value="66">Thailand +66</option>
                        <option value="670">Timor-Leste +670</option>
                        <option value="228">Togo +228</option>
                        <option value="690">Tokelau +690</option>
                        <option value="676">Tonga +676</option>
                        <option value="1868">Trinidad and Tobago +1868</option>
                        <option value="216">Tunisia +216</option>
                        <option value="90">Turkey +90</option>
                        <option value="7370">Turkmenistan +7370</option>
                        <option value="1649">Turks and Caicos Islands +1649</option>
                        <option value="688">Tuvalu +688</option>
                        <option value="256">Uganda +256</option>
                        <option value="380">Ukraine +380</option>
                        <option value="971">United Arab Emirates +971</option>
                        <option value="44">United Kingdom +44</option>
                        <option value="1">United States +1</option>
                        <option value="1">United States Minor Outlying Islands +1</option>
                        <option value="598">Uruguay +598</option>
                        <option value="998">Uzbekistan +998</option>
                        <option value="678">Vanuatu +678</option>
                        <option value="58">Venezuela +58</option>
                        <option value="84">Viet Nam +84</option>
                        <option value="1284">Virgin Islands, British +1284</option>
                        <option value="1340">Virgin Islands, U.s. +1340</option>
                        <option value="681">Wallis and Futuna +681</option>
                        <option value="212">Western Sahara +212</option>
                        <option value="967">Yemen +967</option>
                        <option value="260">Zambia +260</option>
                        <option value="263">Zimbabwe +263</option>
                      </TomSelect>
                    </div>
                    <input
                      id="input-wizard-4"
                      type="text"
                      class="form-control"
                      placeholder="phone"
                    />
                  </div>
                </div>

                <div
                  class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5"
                >
                  <button class="btn btn-secondary w-24">Previous</button
                  ><button class="btn btn-primary w-24 ml-2">Next</button>
                  <button class="btn btn-primary w-24 mr-auto ml-2" type="submit">
                    <LoadingIcon
                      v-if="loading"
                      icon="spinning-circles"
                      color="white"
                      class="w-4 h-4 ml-2"
                    />

                    <span v-else>Update</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- END: Display Information -->
    </div>
  </div>

  <!-- <button @click="registrationForm">
    sendData
    </button> -->
</template>

<script>
import { defineComponent, toRaw, reactive, toRefs } from "vue";
import axios from "axios";
import Toastify from "toastify-js";
import { Field } from "vee-validate";

// Validations
import { required, minLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";

export default defineComponent({
  components: {
    Field,
  },
  data() {
    const onchange = () => {
      this.myBarangay = this.villages.filter(
        (village) => village.id == this.selectedBarangay
      )[0];
      this.selectedVillage = this.myBarangay.barangay;
      this.selectedCity = this.myBarangay.city;
      this.selectedProvince = this.myBarangay.province;
      // const newamount = document.getElementById('amount').value
      // document.getElementById('newamount').value = Number(newamount).toFixed(2)
      // document.getElementById('amount').value = Number(newamount).toFixed(2)
      console.log("myBarangay ", this.myBarangay);
      console.log(
        "changed",
        this.selectedBarangay,
        this.selectedVillage,
        this.selectedCity
      );
    };
    const formData = reactive({
      first_name: "",
      homeAddress: "",
      last_name: "",

      country_code: "+63",
    });
    const rules = {
      first_name: {
        required,
        minLength: minLength(2),
      },
      last_name: {
        required,
        minLength: minLength(2),
      },
      homeAddress: {
        required,
        minLength: minLength(2),
      },
    };
    const validate = useVuelidate(rules, toRefs(formData));

    const updateProfile = () => {
      validate.value.$touch();
      if (validate.value.$invalid) {
        Toastify({
          node: cash("#failed-notification-content").clone().removeClass("hidden")[0],
          duration: 3000,
          newWindow: true,
          close: true,
          gravity: "top",
          position: "right",
          stopOnFocus: true,
        }).showToast();
      } else {
        const token = localStorage.getItem("token");
        this.loading = true;
        // We will handle form submission here
        const data = new FormData();
        data.append("first_name", this.formData.first_name);
        data.append("middle_name", this.formData.middle_name);
        data.append("last_name", this.formData.last_name);
        data.append("title", this.formData.title);
        data.append("gender", this.formData.gender);
        data.append("village", this.selectedBarangay);
        data.append("street", this.formData.street);
        data.append("city", this.selectedCity);
        data.append("state", this.selectedProvince);
        data.append("country_id", this.selectedCountry);
        data.append("zip", this.formData.zip);
        data.append("working_status", this.formData.working_status);
        data.append("phone", this.formData.phone);
        data.append("email", this.currentUser.email);
        data.append("dob", this.formData.dob);
        // data.append('address', this.formData.address)
        data.append("house", this.formData.house);
        data.append("country_code", this.formData.country_code);
        // data.append('house', this.house)
        data.append("mobile", this.formData.mobile);

        // data.append('business_name', this.formData.business_name)
        if (this.uploadFile) {
          console.log("ProfilePic", this.uploadFile);
          data.append("photo", this.image);
        }
        data.append("files", this.id);

        // const todays = new Date()
        const TODAY = new Date(Date.now());

        console.log("my date of birth" + this.formData.dob);
        console.log("my date today year" + new Date(TODAY).getFullYear());
        console.log("my date birth year " + new Date(this.formData.dob).getFullYear());
        console.log(
          "my date age " +
            (new Date(TODAY).getFullYear() - new Date(this.formData.dob).getFullYear())
        );

        if (
          new Date(TODAY).getFullYear() - new Date(this.formData.dob).getFullYear() >
          18
        ) {
          console.log("You must be above 18 years");

          // We will handle form submission here

          axios
            // .post(
            //   'http://localhost/mfi-v2/public/client/profileUpdate/' +
            .post(
              "/profileUpdate/" + this.$store.state.auth.user.id,
              data,

              {
                headers: {
                  Authorization: "Bearer " + token,

                  "Content-Type": "multipart/form-data",
                  "X-Requested-With": "XMLHttpRequest",
                },
              }
            )
            .then((response) => {
              const data = response.data;
              const notification = document.querySelector(
                ".toastify-content .notification-message"
              );
              if (data.success == true) {
                this.loading = false;
                notification.textContent =
                  "Profile Profile Information Successfully Updated";
              } else {
                this.loading = false;
                notification.textContent = "Profile Profile Information Failed to Update";
              }
              this.basicNonStickyNotificationToggle();
              console.log("response", response);
              return response.data.user_data;
            })
            .then((data) => {
              this.uploadFile = null;
              // Commiting to the updates to the store
              this.$store.commit("auth/update", { user: data, isUpdate: true });
            })
            .catch((error) => {
              console.log("Error", error);
            });
        } else {
          console.log("my date is not valid");

          this.loading = false;

          // alert('You must be above 18 years!!')
          // Notification
          Toastify({
            node: cash("#age-notification-content").clone().removeClass("hidden")[0],
            duration: -1,
            newWindow: true,
            close: true,
            gravity: "top",
            position: "right",
            stopOnFocus: true,
          }).showToast();
        }
      }
    };

    // Basic non sticky notification
    const basicNonStickyNotificationToggle = () => {
      Toastify({
        node: cash("#basic-non-sticky-notification-content")
          .clone()
          .removeClass("hidden")[0],
        duration: 3000,
        newWindow: true,
        close: true,
        gravity: "top",
        position: "right",
        stopOnFocus: true,
      }).showToast();
    };

    const validateAge = () => {
      const TODAY = new Date(Date.now());

      console.log("my date of birth" + this.formData.dob);
      console.log("my date today year" + new Date(TODAY).getFullYear());
      console.log("my date birth year " + new Date(this.formData.dob).getFullYear());
      console.log(
        "my date age " +
          (new Date(TODAY).getFullYear() - new Date(this.formData.dob).getFullYear())
      );

      if (
        new Date(TODAY).getFullYear() - new Date(this.formData.dob).getFullYear() <
        18
      ) {
        // alert('You must be above 18 years')
        // Notification
        Toastify({
          node: cash("#age-notification-content").clone().removeClass("hidden")[0],
          duration: -1,
          newWindow: true,
          close: true,
          gravity: "top",
          position: "right",
          stopOnFocus: true,
        }).showToast();
      }
    };

    return {
      basicNonStickyNotificationToggle,
      loading: false,
      formData,
      validate,
      updateProfile,
      validateAge,
      photo: "",
      files: "",
      uploadFile: null,
      selectedCountry: "168",
      listCountry: [],
      villages: [],
      onchange,
      first_name= currentUser.email,
      typeconfirm: "password",
    };
  },
  computed: {
    userId() {
      return toRaw(this.$store.state.auth.user.id);
    },
    user: function () {
      // console.log(this.user)
      console.log(toRaw(this.$store.state.auth.user.id));
      return toRaw(this.$store.state.auth.user);
    },
    currentUser() {
      this.setUpdateEmail(this.$store.state.auth.user.email);
      // console.log(toRaw(this.$store.state.auth.user.data.user))
      this.setCurrentUser(toRaw(this.$store.state.auth.user));

      return toRaw(this.$store.state.auth.user);
    },
  },

  methods: {
    setUpdateEmail(email) {
      this.email = email;
    },
    setNotificationMessage(message) {
      this.notificationMessage = message;
    },
    setCurrentUser(data) {
      console.log({ CurrentData: data });
      if (data) {
        if (data.country_code === null) {
          data.country_code = "+63";
        }
        if (data.country_id === null) {
          data.country_id = "168";
        }
        if (data.middle_name === null) {
          data.middle_name = "";
        }

        Object.assign(this.formData, data);
      }
    },
    // Getting All Villages
    getVillages() {
      const token = localStorage.getItem("token");
      axios
        .get("/get-barangaies", {
          headers: {
            Authorization: "Bearer " + token,
            "Content-Type": "multipart/form-data",
            "X-Requested-With": "XMLHttpRequest",
          },
        })
        .then((res) => {
          this.villages = res.data.payload.barangayies;
          console.log("before villages", this.villages);
        })
        .catch((err) => console.log(err));
    },
    // Profile Photo Upload
    handlePhotoUpload() {
      this.image = event.target.files[0];
      this.uploadFile = URL.createObjectURL(this.image);
    },
    // handleFrontIDUpload() {
    //   this.id = event.target.files[0]
    // }
    getCountry() {
      const token = localStorage.getItem("token");
      axios
        .get("/get-countries", {
          headers: {
            Authorization: "Bearer " + token,
            "Content-Type": "multipart/form-data",
            "X-Requested-With": "XMLHttpRequest",
          },
        })
        .then((res) => {
          this.listCountry = res.data.data;
          console.log("Country", this.selectedCountry);
        });
    },
    onchangenew(id) {
      console.log("selected Barangay");
    },
  },
  created() {},
  mounted() {},
});
</script>
