<script setup>
import { onMounted, inject } from 'vue'
import store from './store'
import translationFunctions from './translation-composable'


// const user = inject('user')

translationFunctions()

onMounted(() => {
//   user.value = JSON.parse(sessionStorage.getItem('dentalSoftUser'))
  store.dispatch('fetchTranslations')

})
</script>

<template>

    <router-view />

</template>
